// card structure should be something like:
//
// <article class="material-cards">
//   <section>
//     <div>
//       <!-- picture goes here (background) -->
//     </div>
//     <div>
//       <!-- content goes here (<h1> and whatnot)
//     </div>
//   </section>
// </article>
//
// To override the default backgrounds (and you should), just add something like the following to your local CSS;
//
// .material-cards section:nth-of-type(1) div:nth-of-type(1) { background-image: url('something.jpg') }
// .material-cards section:nth-of-type(2) div:nth-of-type(1) { background-image: url('something-else.jpg') }
//
// It's also possible to use article class="material-cards page-name" and instead use:
//
// .page-name section... etc.
//
// This is especially useful when moving all CSS for many pages into one single file.
//
// et cetera

@import 'mixins';

* {
  box-sizing: border-box;
}

.material-cards {
  @include hw(auto, 100%);
  @include flex(flex-start, row, stretch);
  margin-top: $h-header;

  @include mobile-large {
    margin-top: $h-header-mobile;
  }

  @include mobile-small {
    margin-top: $h-header-mobile-small;
  }

  .toc-container { // this container interacts with the component_toc width (fixed element)
    @include hw (auto, $w-toc-container);
    @include flex(flex-start, row, center1);
    order: 1;

    @include desktop-large {
      width: $w-toc-container-break1;
    }

    @include desktop-small {
      width: $w-toc-container-break2;
    }

    @include mobile-large {
      display: none;
    }
  }

  $p: 1.1;

  .card-container {
    @include hw(auto, (100% - $w-toc-container));
    @include flex(center, column, center);
    order: 2;
    padding: 0 3vw 0 ($w-toc-margin * .5);

    // For this break adjust width + padding
    @include desktop-large {
      @include hw(auto, (100% - $w-toc-container-break1));
      padding-left: $w-toc-margin-break1 * $p;
      padding-right: $w-toc-margin-break1 * $p;
    }

    // For this break adjust width + padding
    @include desktop-small {
      @include hw(auto, (100% - $w-toc-container-break2));
      padding-left: $w-toc-margin-break2 * $p;
      padding-right: $w-toc-margin-break2 * $p;
    }

    // for this break adjust width
    @include mobile-large {
      @include hw(auto, 100%);
    }
  }

  section {
    box-shadow: $level1;
    display: flex;
    margin-top: 2vh;
    width: 100%;

    // At this break switch to column layout
    @include mobile-large {
      @include flex(center, column, stretch);
    }

    > div:nth-of-type(1) {
      @include hw(auto, 40%);
      order: 1;
      width: 40%;

      // At this break, for column layout, change the size for verticality
      // Now we need to specify a height, this could be a vh or % but
      // the flexibility isn't necessary here and a Xrem height makes
      // pictures look a bit better at different sizes.
      @include mobile-large {
        @include hw(30rem, 100%);
      }
    }

    > div:nth-of-type(2) {
      @include hw(auto, 60%);
      @include flex(center, column, center);
      order: 2;
      padding: 2vh 0 4vh;

      // At this break, for column layout, change the size for verticality
      @include mobile-large {
        @include hw(auto, 100%);
      }

      h1 {
        font-size: 6vh;
        font-weight: 900;
        line-height: .9;
        padding: .1em .25em;
        text-align: center;
      }

      h2 {
        font-size: 3vh;
        font-weight: 400;
        line-height: 1;
        padding: .5em .5em .25em;
        text-align: center;
      }

      p {
        line-height: 1.4;
        padding: .5em;
        width: 70%;

        @include desktop-large {
          width: 80%
        }

        @include desktop-small {
          width: 85%;
        }
      }

      p:last-of-type {
        margin-bottom: 1.5em;
      }
    }

    &:nth-of-type(odd) {
      flex-direction: row;

      // change the layout to column-based
      @include mobile-large {
        flex-direction: column;
      }
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      // change layout to column-based
      @include mobile-large {
        flex-direction: column;
      }
    }

    &:last-of-type {
      margin-bottom: 3em;
    }

    // set div backgrounds

    div {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
