.header-fixed {
  height: 9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  top: 0;
  left: 0;
  background-color: #424242;
  box-shadow: 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
  position: fixed;
  z-index: 1; }
  @media screen and (max-width: 800px) {
    .header-fixed {
      height: 6rem; } }
  @media screen and (max-width: 600px) {
    .header-fixed {
      height: 4rem; } }
  .header-fixed > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; }
    .header-fixed > div:nth-of-type(1) {
      padding-left: 7vh;
      width: 40%; }
      @media screen and (max-width: 1400px) {
        .header-fixed > div:nth-of-type(1) {
          padding-left: 4vw; } }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(1) {
          padding-left: 1vw;
          width: 37.5%; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(1) {
          width: 30%; } }
    .header-fixed > div:nth-of-type(2) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%; }
      .header-fixed > div:nth-of-type(2) img {
        width: 80%; }
        @media screen and (max-width: 800px) {
          .header-fixed > div:nth-of-type(2) img {
            width: 50%; } }
        @media screen and (max-width: 600px) {
          .header-fixed > div:nth-of-type(2) img {
            width: 40%; } }
      .header-fixed > div:nth-of-type(2) a:link,
      .header-fixed > div:nth-of-type(2) a:active,
      .header-fixed > div:nth-of-type(2) a:visited {
        font-size: 1.85em;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        transition: color 0.2s, ease-in-out;
        text-align: center; }
        @media screen and (max-width: 800px) {
          .header-fixed > div:nth-of-type(2) a:link,
          .header-fixed > div:nth-of-type(2) a:active,
          .header-fixed > div:nth-of-type(2) a:visited {
            font-size: 1em; } }
      .header-fixed > div:nth-of-type(2) a:hover {
        color: #f57c00;
        text-decoration: none; }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(2) {
          width: 25%; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(2) {
          width: 40%; } }
    .header-fixed > div:nth-of-type(3) {
      width: 40%;
      padding-right: 7vh; }
      @media screen and (max-width: 1400px) {
        .header-fixed > div:nth-of-type(3) {
          padding-left: 4vw; } }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(3) {
          width: 37.5%;
          padding-right: 1vw; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(3) {
          width: 30%; } }
  .header-fixed aside {
    height: 70%;
    padding: 0 4em; }
    @media screen and (max-width: 1200px) {
      .header-fixed aside {
        padding: 0 2em; } }
    .header-fixed aside img {
      min-width: 1rem;
      width: 1rem; }
    .header-fixed aside a:link,
    .header-fixed aside a:visited,
    .header-fixed aside a:active {
      font-size: 85%;
      color: #fff;
      text-decoration: none;
      margin: 0 1em; }
  .header-fixed div:nth-of-type(1) nav,
  .header-fixed div:nth-of-type(1) aside {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(1) nav,
      .header-fixed div:nth-of-type(1) aside {
        display: none; } }
  .header-fixed div:nth-of-type(1) nav {
    height: 30%;
    width: 80%; }
    @media screen and (max-width: 1200px) {
      .header-fixed div:nth-of-type(1) nav {
        height: 30%;
        width: 100%; } }
    @media screen and (max-width: 1200px) {
      .header-fixed div:nth-of-type(1) nav .menu-outer:nth-of-type(2) {
        display: none; } }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(1) nav .menu-outer:nth-of-type(1) {
        display: none; } }
  .header-fixed div:nth-of-type(3) nav,
  .header-fixed div:nth-of-type(3) aside {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(3) nav,
      .header-fixed div:nth-of-type(3) aside {
        display: none; } }
  .header-fixed div:nth-of-type(3) nav {
    height: 30%;
    width: 80%; }
  @media screen and (max-width: 800px) {
    .header-fixed div:nth-of-type(3) aside {
      display: none; } }

.hover-menu {
  height: 16vw;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 9rem;
  left: 0;
  background-color: #f57c00;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5), 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
  opacity: 0;
  position: fixed;
  transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
  visibility: hidden;
  z-index: 1; }
  .hover-menu > div {
    background-size: auto 35%;
    background-position: 105% center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0 .5rem; }
    .hover-menu > div a:link,
    .hover-menu > div a:visited,
    .hover-menu > div a:active {
      height: 14vw;
      width: 14vw;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 1.5vw;
      font-weight: 400;
      color: #5c5c5c;
      text-decoration: none;
      border: 1px solid #424242;
      padding: .5em;
      text-transform: capitalize; }
    .hover-menu > div h1 {
      transition: all 0.2s, ease-in-out;
      color: #424242;
      text-align: center;
      white-space: normal; }

.products > div:nth-of-type(1) {
  background-image: url("../assets/product-general-purpose.jpg"); }
.products > div:nth-of-type(2) {
  background-image: url("../assets/product-xmill.jpg"); }
.products > div:nth-of-type(3) {
  background-image: url("../assets/product-threadmill.jpg"); }
.products > div:nth-of-type(4) {
  background-image: url("../assets/product-p20-pro.jpg"); }
.products > div:nth-of-type(5) {
  background-image: url("../assets/product-high-velocity.jpg"); }
.products > div:nth-of-type(6) {
  background-image: url("../assets/more.svg");
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat; }

.services > div:nth-of-type(1) {
  background-image: url("../assets/product-general-purpose.jpg"); }
.services > div:nth-of-type(2) {
  background-image: url("../assets/product-xmill.jpg"); }
.services > div:nth-of-type(3) {
  background-image: url("../assets/product-threadmill.jpg"); }
.services > div:nth-of-type(4) {
  background-image: url("../assets/product-p20-pro.jpg"); }
.services > div:nth-of-type(5) {
  background-image: url("../assets/product-high-velocity.jpg"); }
.services > div:nth-of-type(6) {
  background-image: url("../assets/more.svg");
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat; }

.search {
  height: 10vw; }
  .search form {
    height: auto;
    width: 90%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
  .search input {
    height: 7vh;
    width: 60%;
    font-size: 1.5vw;
    font-weight: 400;
    color: #424242;
    text-decoration: none;
    border: 1px solid #424242;
    padding: 1.5vh; }
  .search button {
    height: 4.5vh;
    width: 5vh;
    background-image: url("../assets/search.svg");
    background-size: 80% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #424242;
    border: 1px solid #424242;
    cursor: pointer; }

.cart {
  height: 10vw; }
  .cart h1 {
    font-size: 3vw;
    text-decoration: none;
    transition: background-color 0.2s, ease-in-out;
    padding: 1vw 3vw;
    text-transform: none; }
    .cart h1:hover {
      transition: background-color 0.2s, ease-in-out;
      background-color: rgba(66, 66, 66, 0.3); }

.menu-outer {
  height: 100%;
  width: 25%; }
  @media screen and (max-width: 1200px) {
    .menu-outer {
      width: 33.3333%; } }
  .menu-outer a:link,
  .menu-outer a:visited,
  .menu-outer a:active {
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .menu-outer:hover > .hover-menu {
    opacity: 1;
    visibility: visible; }

.menu-inner {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f57c00 50%);
  background-size: 100% 200%;
  position: relative;
  transition: background .2s ease-in-out; }
  .menu-inner:hover {
    background-position: 0 100%; }
  .menu-inner p {
    white-space: nowrap; }
  .menu-inner img {
    height: 50%; }

.header-fixed div:nth-of-type(n+1) .mobile {
  display: none; }
  @media screen and (max-width: 800px) {
    .header-fixed div:nth-of-type(n+1) .mobile {
      height: 100%;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center; } }
  .header-fixed div:nth-of-type(n+1) .mobile img {
    height: 2rem; }
    @media screen and (max-width: 600px) {
      .header-fixed div:nth-of-type(n+1) .mobile img {
        height: 2.5rem; } }

.mobile-menu-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .mobile-menu-container div {
    height: auto;
    width: 100%;
    top: 6rem;
    left: 0;
    background-color: #f57c00;
    opacity: 0;
    position: fixed;
    transition: all .2s ease-in-out;
    visibility: hidden; }
    @media screen and (max-width: 600px) {
      .mobile-menu-container div {
        top: 4rem; } }
  .mobile-menu-container:hover > div {
    opacity: 1;
    visibility: visible; }
  .mobile-menu-container ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .mobile-menu-container li {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: .5em 0;
    text-align: center;
    width: 75%; }
    .mobile-menu-container li:last-of-type {
      border-bottom: 0; }
  .mobile-menu-container a:link, .mobile-menu-container a:visited, .mobile-menu-container a:active {
    color: #fff;
    text-decoration: none; }
  .mobile-menu-container form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: .5em .75em; }
  .mobile-menu-container input {
    font-size: 2em;
    text-decoration: none;
    height: 3rem;
    border: 1px solid #424242;
    box-shadow: 0;
    padding: 0 .5rem; }
  .mobile-menu-container button {
    height: 3rem;
    width: 3rem;
    background-image: url("../assets/search.svg");
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #424242;
    border-left: 0;
    box-shadow: 0; }

@media screen and (max-width: 600px) {
  .icon-cart,
  .icon-account {
    display: none; } }

/*# sourceMappingURL=_component_header.css.map */
