@import 'mixins';

.page-1-header {
  @include hw($h-header, 100%);
  @include flex(center, row, stretch);
  @include tl(0, 0);
  background-color: $grey-dark;
  box-shadow: $level1;
  position: fixed;
  z-index: 1;

  // The header is divided into 3 container divs

  > div {
    height: 100%;

    // first is for the left bookmark block + main nav

    &:nth-of-type(1) {
      width: 40%;
      padding-left: 7vw;

      @include desktop-mid {
        padding-left: 4vw;
      }

      @include desktop-small {
        width: 37.5%;
        padding-left: 1vw;
      }
    }

    // second is for the middle lion logo + dbt text

    &:nth-of-type(2) {
      @include flex(center, column, center);
      width: 20%;

      // lion logo
      img {
        width: 80%;
      }

      a:link,
      a:active,
      a:visited {
        @include font(0, 1.85em, 700, $light);
        @include trans(color);
        text-align: center;
      }

      a:hover {
        @include font($color:$orange);
      }

      @include desktop-small {
        width: 25%;
      }
    }

    // third is for the right search block + secondary nav

    &:nth-of-type(3) {
      width: 40%;
      padding-right: 7vw;

      @include desktop-mid {
        padding-left: 4vw;
      }

      @include desktop-small {
        width: 37.5%;
        padding-right: 1vw;
      }
    }
  }

  // this is our "customer messages" container for things like sales and free shipping

  aside {
    height: 70%;
    padding: 0 4em;

    @include desktop-small {
      padding: 0 2em;
    }

    img {
      min-width: 1rem;
      width: 1rem;
    }

    a:link,
    a:visited,
    a:active {
      @include font($size: 85%, $color:$light);
      margin: 0 1em;
    }
  }

  // here we set the different flex orientations for the nav containers
  // and the aside containers
  // and media queries to hide certain things.

  div {

    &:nth-of-type(1) {
      // target left nav & aside container
      nav,
      aside {
        @include flex(center, row, flex-start);
      }

      // hide "meet the team" at desktop-small screen width

      li:nth-of-type(2) {
        @include desktop-small {
          display: none;
        }
      }

      // hide "about use" at mobile-large screen width

      li:nth-of-type(1) {
        @include mobile-large {
          display: none;
        }
      }
    }

    &:nth-of-type(3) {
      // target right nav & aside container
      nav,
      aside {
        @include flex(center, row, flex-end);
      }
    }
  }

  // these are our nav elements which contain ul, li, etc

  nav {
    @include hw(30%, 100%);

    img {
      height: 1.2em;
    }

    ul {
      @include hw(100%, auto);
      @include flex(flex-end, row, flex-start);
      margin: 0 1em;
      white-space: nowrap;
    }

    li {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, $orange 50%); // allows the slide-up animation with a solid gradient
      background-size: 100% 200%;
      position: relative;
      transition: background .2s ease-in-out;

      &:hover {
        background-position: 0 100%;
      }
    }

    a:link,
    a:visited,
    a:active {
      @include font(0, .95em, 0, $light);
      @include trans(background-color);
      display: block; // need this so css pays attention to padding and margin while arranging the layout
      padding: .85em 1em;
      text-transform: uppercase;
    }
  }

  // inside each nav > ul > li we can embed a div class .hover-menu which is revealed on mousover on the li
  // instead of setting display:none we set visibility:hidden and opacity:0
  // this allows the div reveal to be animated (transition:opacity)

  nav {
    li:hover > .hover-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.hover-menu {
  @include hw(16vw, 100%);
  @include flex(center, row, center);
  @include tl($h-header, 0);
  background-color: $orange;
  box-shadow: $level1-inset, $level1;
  opacity: 0;
  position: fixed; // position:fixed instead of :absolute in order to make a full-width menu that spread horizontally
  transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
  visibility: hidden;
  z-index: 1;

  // these are the individual menu items; the a:link determines the size of the div
  // the meta image properties are defined here, as well as background
  // the actual background images are defined under .products and .services below

  > div {
    @include bgimg(0, auto 35%, 105%, center, no-repeat);
    background-color: $light;
    margin: 0 .5rem;

    a:link,
    a:visited,
    a:active {
      @include hw(14vw, 14vw);
      @include flex(center, column, flex-end);
      @include font(0, 1.5vw, 400, lighten($grey-dark, 10%));
      border: 1px solid $grey-dark;
      padding: .5em;
      text-transform: capitalize;
    }

    h1 {
      @include trans(all);
      color: $grey-dark;
      text-align: center;
      white-space: normal;
    }
  }
}

// define the product backgrounds and background parameters

.products {
  > div {
    &:nth-of-type(1) {
      @include bgimg('product-general-purpose.jpg');
    }

    &:nth-of-type(2) {
      @include bgimg('product-xmill.jpg');
    }

    &:nth-of-type(3) {
      @include bgimg('product-threadmill.jpg');
    }

    &:nth-of-type(4) {
      @include bgimg('product-p20-pro.jpg');
    }

    &:nth-of-type(5) {
      @include bgimg('product-high-velocity.jpg');
    }

    &:nth-of-type(6) {
      @include bgimg('more.svg', 60% auto, center, center, no-repeat);
    }
  }
}

// services dropdown background images

.services {
  > div {
    &:nth-of-type(1) {
      @include bgimg('product-general-purpose.jpg');
    }

    &:nth-of-type(2) {
      @include bgimg('product-xmill.jpg');
    }

    &:nth-of-type(3) {
      @include bgimg('product-threadmill.jpg');
    }

    &:nth-of-type(4) {
      @include bgimg('product-p20-pro.jpg');
    }

    &:nth-of-type(5) {
      @include bgimg('product-high-velocity.jpg');
    }

    &:nth-of-type(6) {
      @include bgimg('more.svg', 60% auto, center, center, no-repeat);
    }
  }
}

// custom sizing and components for the search box dropdown

.search {
  height: 10vw;

  form {
    @include hw(auto, 90%);
    @include flex(flex-end, row, center);
    width: 100%;
  }

  input {
    @include hw(7vh, 60%);
    @include font(0, 1.5vw, 400, $grey-dark);
    border: 1px solid $grey-dark;
    padding: 1.5vh;
  }

  button {
    @include hw(4.5vh, 5vh);
    @include bgimg('search.svg', 80% auto, center, center, no-repeat);
    background-color: $grey-dark;
    border: 1px solid $grey-dark;
    cursor: pointer;
  }
}

.cart {
  height: 10vw;

  h1 {
    @include font(0, 3vw);
    @include trans(background-color);
    padding: 1vw 3vw;
    text-transform: none;

    &:hover {
      @include trans(background-color);
      background-color: rgba($grey-dark, .3);
    }
  }
}
