@import 'mixins';

.header-fixed {
  @include hw($h-header, 100%);
  @include flex(center, row, stretch);
  @include tl(0, 0);
  background-color: $grey-dark;
  box-shadow: $level1;
  position: fixed;
  z-index: 1;

  @include mobile-large {
    height: $h-header-mobile;
  }

  @include mobile-small {
    height: $h-header-mobile-small;
  }

  // The header is divided into 3 container divs

  $div-padding: 7vh; // This controls the left padding for left div and right for right

  > div {
    @include flex(center, column, flex-end);
    height: 100%;

    // first is for the left bookmark block + main nav

    &:nth-of-type(1) {
      padding-left: $div-padding;
      width: 40%;

      @include desktop-mid {
        padding-left: 4vw;
      }

      @include desktop-small {
        padding-left: 1vw;
        width: 37.5%;
      }

      @include mobile-small {
        width: 30%;
      }
    }

    // second is for the middle lion logo + dbt text

    &:nth-of-type(2) {
      @include flex(center, column, center);
      width: 20%;

      // lion logo
      img {
        width: 80%;

        @include mobile-large {
          width: 50%;
        }

        @include mobile-small {
          width: 40%;
        }
      }

      a:link,
      a:active,
      a:visited {
        @include font(0, 1.85em, 700, $light);
        @include trans(color);
        text-align: center;

        @include mobile-large {
          font-size: 1em;
        }
      }

      a:hover {
        @include font($color:$orange);
      }

      @include desktop-small {
        width: 25%;
      }

      @include mobile-small {
        width: 40%;
      }
    }

    // third is for the right search block + secondary nav

    &:nth-of-type(3) {
      width: 40%;
      padding-right: $div-padding;

      @include desktop-mid {
        padding-left: 4vw;
      }

      @include desktop-small {
        width: 37.5%;
        padding-right: 1vw;
      }

      @include mobile-small {
        width: 30%;
      }
    }
  }

  // this is our "customer messages" container for things like sales and free shipping

  aside {
    height: 70%;
    padding: 0 4em;

    @include desktop-small {
      padding: 0 2em;
    }

    img {
      min-width: 1rem;
      width: 1rem;
    }

    a:link,
    a:visited,
    a:active {
      @include font($size: 85%, $color:$light);
      margin: 0 1em;
    }
  }

  // here we set the different flex orientations for the nav containers
  // and the aside containers
  // and media queries to hide certain things.

  div {

    &:nth-of-type(1) {
      // target left nav & aside container
      nav,
      aside {
        @include flex(center, row, flex-start);

        @include mobile-large {
          display: none;
        }
      }

      // target left nav width for responsive stuffs
      nav {
        @include hw(30%, 80%);

        @include desktop-small {
          @include hw(30%, 100%);
        }

        .menu-outer {

          // hide "meet the team" at desktop-small screen width
          &:nth-of-type(2) {
            @include desktop-small {
              display: none;
            }
          }

          // hide "about us" at mobile-large screen width
          &:nth-of-type(1) {
            @include mobile-large {
              display: none;
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      // target right nav & aside container
      nav,
      aside {
        @include flex(center, row, flex-end);

        @include mobile-large {
          display: none;
        }        
      }

      nav {
        @include hw(30%, 80%);
      }

      aside {
        @include mobile-large {
          display: none;
        }
      }
    }
  }
}

.hover-menu {
  @include hw(16vw, 100%);
  @include flex(center, row, center);
  @include tl($h-header, 0);
  background-color: $orange;
  box-shadow: $level1-inset, $level1;
  opacity: 0;
  position: fixed; // position:fixed instead of :absolute in order to make a full-width menu that spread horizontally
  transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
  visibility: hidden;
  z-index: 1;

  // these are the individual menu items; the a:link determines the size of the div
  // the meta image properties are defined here, as well as background
  // the actual background images are defined under .products and .services below

  > div {
    @include bgimg(0, auto 35%, 105%, center, no-repeat);
    background-color: $light;
    margin: 0 .5rem;

    a:link,
    a:visited,
    a:active {
      @include hw(14vw, 14vw);
      @include flex(center, column, flex-end);
      @include font(0, 1.5vw, 400, lighten($grey-dark, 10%));
      border: 1px solid $grey-dark;
      padding: .5em;
      text-transform: capitalize;
    }

    h1 {
      @include trans(all);
      color: $grey-dark;
      text-align: center;
      white-space: normal;
    }
  }
}

// define the product backgrounds and background parameters

.products {
  > div {
    &:nth-of-type(1) {
      @include bgimg('product-general-purpose.jpg');
    }

    &:nth-of-type(2) {
      @include bgimg('product-xmill.jpg');
    }

    &:nth-of-type(3) {
      @include bgimg('product-threadmill.jpg');
    }

    &:nth-of-type(4) {
      @include bgimg('product-p20-pro.jpg');
    }

    &:nth-of-type(5) {
      @include bgimg('product-high-velocity.jpg');
    }

    &:nth-of-type(6) {
      @include bgimg('more.svg', 60% auto, center, center, no-repeat);
    }
  }
}

// services dropdown background images

.services {
  > div {
    &:nth-of-type(1) {
      @include bgimg('product-general-purpose.jpg');
    }

    &:nth-of-type(2) {
      @include bgimg('product-xmill.jpg');
    }

    &:nth-of-type(3) {
      @include bgimg('product-threadmill.jpg');
    }

    &:nth-of-type(4) {
      @include bgimg('product-p20-pro.jpg');
    }

    &:nth-of-type(5) {
      @include bgimg('product-high-velocity.jpg');
    }

    &:nth-of-type(6) {
      @include bgimg('more.svg', 60% auto, center, center, no-repeat);
    }
  }
}

// custom sizing and components for the search box dropdown

.search {
  height: 10vw;

  form {
    @include hw(auto, 90%);
    @include flex(flex-end, row, center);
    width: 100%;
  }

  input {
    @include hw(7vh, 60%);
    @include font(0, 1.5vw, 400, $grey-dark);
    border: 1px solid $grey-dark;
    padding: 1.5vh;
  }

  button {
    @include hw(4.5vh, 5vh);
    @include bgimg('search.svg', 80% auto, center, center, no-repeat);
    background-color: $grey-dark;
    border: 1px solid $grey-dark;
    cursor: pointer;
  }
}

.cart {
  height: 10vw;

  h1 {
    @include font(0, 3vw);
    @include trans(background-color);
    padding: 1vw 3vw;
    text-transform: none;

    &:hover {
      @include trans(background-color);
      background-color: rgba($grey-dark, .3);
    }
  }
}

.menu-outer {
  @include hw(100%, 25%);

  @include desktop-small {
    width: 33.3333%;
  }

  a:link,
  a:visited,
  a:active {
    @include font(0, .95em, 0, $light);
    text-transform: uppercase;
  }

  &:hover > .hover-menu {
    opacity: 1;
    visibility: visible;
  }
}

.menu-inner {
  @include hw(100%, 100%);
  @include flex(center, row, center);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, $orange 50%); // faking a half & half background
  background-size: 100% 200%;
  position: relative;
  transition: background .2s ease-in-out;

  &:hover {
    background-position: 0 100%;
  }

  p {
    white-space: nowrap;
  }

  img {
    height: 50%;
  }
}


// note to self, this entire thing has to be refactored
.header-fixed {
  div:nth-of-type(n+1) { // ugly hack because I have too much specificity above
    .mobile {
      display: none;

      @include mobile-large {
        @include hw(100%, 100%);
        @include flex(center, row, center);
      }

      img {
        height: 2rem;

        @include mobile-small {
          height: 2.5rem;
        }
      }
    }
  }
}


.mobile-menu-container {
  @include hw(100%, 100%);
  @include flex(center, column, center);
  position: relative;

  div {
    @include hw(auto, 100%);
    @include tl($h-header-mobile, 0);
    background-color: $orange;
    opacity: 0;
    position: fixed;
    transition: all .2s ease-in-out;
    visibility: hidden;

    @include mobile-small {
      top: $h-header-mobile-small;
    }
  }

  &:hover > div {
    opacity: 1;
    visibility: visible;
  }

  ul {
    @include flex(center, column, center);
    width: 100%;
  }

  li {
    @include font(0, 2rem, 300, $light);
    border-bottom: 1px solid $light;
    padding: .5em 0;
    text-align: center;
    width: 75%;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  a {
    &:link,
    &:visited,
    &:active {
      color: $light;
      text-decoration: none;
    }
  }

  form {
    @include flex(center, row, center);
    width: 100%;
    padding: .5em .75em;
  }

  input {
    @include font(0, 2em);
    height: 3rem;
    border: 1px solid $grey-dark;
    box-shadow: 0;
    padding: 0 .5rem;
  }

  button {
    @include hw(3rem, 3rem);
    @include bgimg('search.svg', 90% auto, center, center, no-repeat);
    border: 1px solid $grey-dark;
    border-left: 0;
    box-shadow: 0;
  }
}

.icon-cart,
.icon-account {
  @include mobile-small {
    display: none;
  }
}
