@import 'var';

@mixin desktop-large {
  @media screen and (max-width: $break1)  {
    @content;
  }
}

@mixin desktop-small {
  @media screen and (max-width: $break2)  {
    @content;
  }
}

@mixin mobile-large {
  @media screen and (max-width: $break3)  {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: $break4)  {
    @content;
  }
}

@mixin center-middle {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin middle {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-middle-view {
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

@mixin hw($height, $width) {
  height: $height;
  width: $width;
}

$grey:#414141;
$orange: #ff5722;

@mixin button($size: 2em, $color: $grey, $color2: $orange) {
  @include hw($size, $size);
  background-color: $color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border-radius: 100%;
  margin: .25em;
  transition: background .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    background-color: $color2;
    box-shadow: $level2;
  }
}

@mixin flex($align: center, $direction: row, $justify: center) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin bgimg($img, $v-align: center) {
  background-image: url($root + $assets + $img);
  background-position: center $v-align;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@mixin trans($prop, $time: .2s, $type: ease-in-out) {
  transition: $prop $time, $type;
}

@mixin font($family: 0, $size: 0, $weight: 0, $color: 0) {
  @if $family != 0 {
    font-family: $family;
  }

  @if $size != 0 {
    font-size: $size;
  }

  @if $weight != 0 {
    font-weight: $weight;
  }

  @if $color != 0 {
    color: $color;
  }

  text-decoration: none;
}

@mixin tl($top, $left) {
  top: $top;
  left: $left;
}
