// font stack
$base-font: 'Raleway', sans-serif; //'Roboto', sans-serif;

// color stack
$light: #fff;
$grey-mid: #9e9e9e;
$grey-dark: #424242;
$orange: rgba(255,127,42,1);
$deeporange: #757575;

// dbt color stack
$blue: desaturate(#64b5f6, 25%);
$green: desaturate(#69f0ae, 25%);
$purple: #ea80fc;
$lightorange: rgba(255,127,42,1);
$red: lighten(#ff5252, 5%);

// margins & padding
$std-x: 3vw;
$std-y: 2vh;

// transitions
$std-trans: .2s;
$std-trans-type: ease-in-out;

// sizing
$h-header: 15vh; // var = $h-header; if this changes, change the jquery (window.height * var) in index.html to match
$h-article: 75vh;
$h-footer: 10vh;

//icons
$icon-height: 2.5em;
$bg-popup: $light;

// material levels
$level1: 2px 2px 5px 2px rgba(66, 66, 66, .5);
$level1-inset: inset 0 7px 5px -5px rgba(66, 66, 66, .5);
$level2: 1px 2px 5px 1px rgba(66, 66, 66, .5);
$level3: 0 4px 10px 2px rgba(66, 66, 66, .5);
