// scss-lint:disable NestingDepth

@import 'var'; // Import this one first

// COMPONENTS

@import 'component-stack';

// other stuff

@import 'reset';
@import 'mixins';
@import 'site-wide';

body {
  font-family: $base-font;
}

.page-1-article {
  @include hw($h-article, 100%);
  @include flex(flex-end, row, center);
  @include bgimg('hero-1080p.jpg', 100% auto, center, 20%, no-repeat);
  margin-top: $h-header;

  .inner-container {
    @include hw(auto, 90%);
    @include flex(flex-end, row, space-between);
    // border: 1px solid red;
    padding: 0 5vw;
    width: 100%;

    @include desktop-small {
      @include flex(flex-end, row, space-around);
      padding: 0 1vw;
    }

    @include mobile-large {
      @include flex(flex-start, row, center);
    }

    article {
      @include flex(center, column, center);
      // background-color: rgba($light, .9);
      // border: 4px solid $light;
      margin-bottom: 4vh;
      padding: 2em;
      text-align: center;
      transition: background-color 1s ease-in-out;

      // &:hover {
      //   background-color: rgba(255, 255, 255, 1);
      // }

      h1 {
        line-height: 1;
        margin-bottom: 2vw;
      }

      h2 {
        line-height: 1;
        margin-bottom: 2vw;
      }

      h3 {
        padding: .5em 0;
      }
    }

    .hero-left,
    .hero-right {
      background-color: rgba($orange, .75);
      color: $light;
      height: 13vw;
      width: 25vw;

      h1 { 
        font-size: 1.8vw;
      }

      h3 {
        margin-bottom: 1.5em;
      }

      @include desktop-small {
        width: 27vw;
      }

      @include mobile-large {
        display: none;
      }
    }

    .hero-middle {
      background-color: rgba($orange, .8);
      color: $light;
      height: 17vw;
      width: 35vw;

      @include desktop-small {
        width: 40vw;
      }

      @include mobile-large {
        height: 30vw;
        width: 80%;
      }

     @include mobile-small {
        height: 15em;
        width: 95%;
      }

      h1 { 
        @include shadow(darken($orange, 20%));
        font-size: 3vw;

        @include mobile-large {
          font-size: 6vw;
        }

        @include mobile-small {
          font-size: 2em;
          line-height: 1;
        }
      }

      h2 {
        font-size: 1.5vw;

        @include mobile-large {
          font-size: 3vw;
        }

        @include mobile-small {
          font-size: 1.3em;
          line-height: 1;
          margin-bottom: 1em;
        }

      }
    }

    h1 {
      font-weight: 700;
    }

    h2 {
      margin: .5em 0 1em;
    }
  }


  // div {
  //   $size: 6em;
  //   align-items: center;
  //   background-color: rgba(255, 255, 255, .7);
  //   // background-image: url($root + $assets + 'logo-white.svg');
  //   background-position: 70% 60%;
  //   background-repeat: no-repeat;
  //   background-size: 80% auto;
  //   border: 5px solid $light;
  //   border-radius: $size;
  //   box-shadow: $level2;
  //   display: flex;
  //   flex-direction: column;
  //   font-size: 4vw;
  //   height: $size;
  //   justify-content: center;
  //   transition: background-color 2s $std-trans-type;
  //   width: $size;

  //   &:hover {
  //     background-color: rgba(255, 255, 255, .8);
  //   }

  //   h1 {
  //     color: $grey-dark;
  //     font-weight: 700;
  //     line-height: .8;
  //     margin-top: .45em;
  //   }

  //   h2 {
  //     font-size: 35%;
  //     margin-top: .75em;
  //     width: 80%;
  //   }

  //   h3 {
  //     background: 0;
  //     font-size: 25%;
  //     font-weight: 200;
  //     letter-spacing: 2px;
  //     margin-top: 2em;
  //   }
  // }
}

.page-2-article {
  align-items: center;
  // background-color: red;
  display: flex;
  flex-direction: column;
  height: $h-article;
  justify-content: center;
  margin-top: $h-header;
  vertical-align: middle;

  > div {
    align-items: stretch;
    // border: 1px solid $grey-dark;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    text-align: right;
    width: 60vw;

    > div:nth-of-type(1) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 3vw;
      width: 60%;

      > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%;
      }
    }

    > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url($root + $assets + 'special.jpg');
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      > img {
        height: 100%;
      }
    }

    h1 {
      color: $grey-dark;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em;
    }

    h2 {
      color: $grey-dark;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: vw;
      padding: .75em 0 1em;
      width: 80%;
      
    }

    h3 {
      background: 0;
      font-size: 20%;
      font-weight: 200;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0;
    }

    a:link,
    a:active,
    a:visited {
      background: lighten($grey-dark, 20%);
      border: 2px solid $grey-dark;
      box-shadow: $level1-inset;
      color: $light;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color $std-trans $std-trans-type;
    }

    a:hover {
      background: $orange;
    }
  }

}

.page-1-footer {
  align-items: center;
  background: $light;
  box-shadow: $level1-inset;
  display: flex;
  justify-content: center;
  min-height: $h-footer;

  li:nth-of-type(1) {
    background-image: url($root + $assets + 'chevron-down.svg');
  }
}

.page-2-footer {
  align-items: center;
  background-color: #E3F2FD;
  box-shadow: $level1-inset;
  display: flex;
  justify-content: center;
  min-height: $h-footer;

  li:nth-of-type(1) {
    background-image: url($root + $assets + 'chevron-down.svg');
  }
}

.page-3-header {
  height: $h-header;
  background-color: #E3F2FD;
}


.page-3-article {
  align-items: center;
  background-color: #E3F2FD;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: $h-article;
  justify-content: center;
  vertical-align: middle;

  > div {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    width: 40vw;

    > div:nth-of-type(1) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;

      > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%;
      }
    }

    > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url($root + $assets + 'vertical-p20-pro-illustrated.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;

      > img {
        height: 100%;
      }
    }

    h1 {
      color: $grey-dark;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em;
    }

    h2 {
      color: $grey-dark;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: 2vw;
      padding: .75em 0 1em;
      width: 80%;
      
    }

    h3 {
      background: 0;
      font-size: 20%;
      font-weight: 200;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0;
    }

    a:link,
    a:active,
    a:visited {
      background: lighten($grey-dark, 20%);
      border: 2px solid $grey-dark;
      box-shadow: $level1-inset;
      color: $light;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color $std-trans $std-trans-type;
    }

    a:hover {
      background: $orange;
    }
  }
}

.page-3-footer {
  align-items: center;
  background-color: $light;
  box-shadow: $level1-inset;
  display: flex;
  justify-content: center;
  min-height: $h-footer;

  li:nth-of-type(1) {
    background-image: url($root + $assets + 'chevron-down.svg');
  }
}

.page-4-header {
  height: $h-header;
  background-color: $light;
}


.page-4-article {
  align-items: center;
  background-color: $light;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: $h-article;
  justify-content: center;
  vertical-align: middle;

  > div {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    width: 40vw;

    > div:nth-of-type(1) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;

      > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%;
      }
    }

    > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url($root + $assets + 'regrinds.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;

      > img {
        height: 100%;
      }
    }

    h1 {
      color: $grey-dark;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em;
    }

    h2 {
      color: $grey-dark;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: 2vw;
      padding: .75em 0 1em;
      width: 80%;
      
    }

    h3 {
      background: 0;
      font-size: 20%;
      font-weight: 300;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0;
    }

    a:link,
    a:active,
    a:visited {
      background: lighten($grey-dark, 20%);
      border: 2px solid $grey-dark;
      box-shadow: $level1-inset;
      color: $light;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color $std-trans $std-trans-type;
    }

    a:hover {
      background: $orange;
    }
  }
}

.page-4-footer {
  align-items: center;
  background-color: #F3E5F5;
  box-shadow: $level1-inset;
  display: flex;
  justify-content: center;
  min-height: $h-footer;

  li:nth-of-type(1) {
    background-image: url($root + $assets + 'chevron-down.svg');
  }
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

