html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.table-of-contents {
  background: #424242;
  box-shadow: 1px 2px 5px 1px rgba(66, 66, 66, 0.5);
  box-sizing: border-box;
  font-size: 85%;
  left: 2.5%;
  padding: 1em 0;
  position: fixed;
  top: 14rem;
  width: 10%; }
  @media screen and (max-width: 1600px) {
    .table-of-contents {
      left: 1.5%;
      width: 12.5%; } }
  @media screen and (max-width: 1200px) {
    .table-of-contents {
      left: 0.5%;
      width: 15%; } }
  @media screen and (max-width: 800px) {
    .table-of-contents {
      display: none; } }
  .table-of-contents a:link,
  .table-of-contents a:active,
  .table-of-contents a:visited {
    background: #424242;
    border-bottom: 1px solid transparent;
    color: #fff;
    display: block;
    line-height: 1;
    padding: .6em 1em;
    text-decoration: none;
    transition: background .2s ease-in; }
  .table-of-contents a:hover {
    background-color: #f57c00; }
  .table-of-contents h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: .5em;
    padding: .4em 1em; }
    .table-of-contents h1 span {
      font-size: 85%; }

.button-rect a:link,
.button-rect a:active,
.button-rect a:visited {
  background: #757575;
  border: 2px solid #424242;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
  color: #fff;
  display: block;
  padding: .5em 2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap; }
  @media screen and (max-width: 1200px) {
    .button-rect a:link,
    .button-rect a:active,
    .button-rect a:visited {
      padding: .5em;
      font-size: 90%; } }
.button-rect a:hover {
  background: #f57c00; }

* {
  box-sizing: border-box; }

.material-cards {
  height: auto;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 9rem; }
  @media screen and (max-width: 800px) {
    .material-cards {
      margin-top: 6rem; } }
  @media screen and (max-width: 600px) {
    .material-cards {
      margin-top: 4rem; } }
  .material-cards .toc-container {
    height: auto;
    width: 15%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center1;
    order: 1; }
    @media screen and (max-width: 1600px) {
      .material-cards .toc-container {
        width: 14%; } }
    @media screen and (max-width: 1200px) {
      .material-cards .toc-container {
        width: 15.5%; } }
    @media screen and (max-width: 800px) {
      .material-cards .toc-container {
        display: none; } }
  .material-cards .card-container {
    height: auto;
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    padding: 0 3vw 0 1.25%; }
    @media screen and (max-width: 1600px) {
      .material-cards .card-container {
        height: auto;
        width: 86%;
        padding-left: 1.65%;
        padding-right: 1.65%; } }
    @media screen and (max-width: 1200px) {
      .material-cards .card-container {
        height: auto;
        width: 84.5%;
        padding-left: 0.55%;
        padding-right: 0.55%; } }
    @media screen and (max-width: 800px) {
      .material-cards .card-container {
        height: auto;
        width: 100%; } }
  .material-cards section {
    box-shadow: 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
    display: flex;
    margin-top: 2vh;
    width: 100%; }
    @media screen and (max-width: 600px) {
      .material-cards section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: stretch; } }
    .material-cards section > div:nth-of-type(1) {
      height: auto;
      width: 40%;
      order: 1;
      width: 40%; }
      @media screen and (max-width: 600px) {
        .material-cards section > div:nth-of-type(1) {
          height: 40vh;
          width: 100%; } }
    .material-cards section > div:nth-of-type(2) {
      height: auto;
      width: 60%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      padding: 2vh 0 4vh; }
      @media screen and (max-width: 600px) {
        .material-cards section > div:nth-of-type(2) {
          height: auto;
          width: 100%; } }
      .material-cards section > div:nth-of-type(2) h1 {
        font-size: 6vh;
        font-weight: 900;
        line-height: .9;
        padding: .1em .25em;
        text-align: center; }
      .material-cards section > div:nth-of-type(2) h2 {
        font-size: 3vh;
        font-weight: 400;
        line-height: 1;
        padding: .5em .5em .25em;
        text-align: center; }
      .material-cards section > div:nth-of-type(2) p {
        line-height: 1.4;
        padding: .5em;
        width: 70%; }
        @media screen and (max-width: 1600px) {
          .material-cards section > div:nth-of-type(2) p {
            width: 80%; } }
        @media screen and (max-width: 1200px) {
          .material-cards section > div:nth-of-type(2) p {
            width: 85%; } }
      .material-cards section > div:nth-of-type(2) p:last-of-type {
        margin-bottom: 1.5em; }
    .material-cards section:nth-of-type(odd) {
      flex-direction: row; }
      @media screen and (max-width: 600px) {
        .material-cards section:nth-of-type(odd) {
          flex-direction: column; } }
    .material-cards section:nth-of-type(even) {
      flex-direction: row-reverse; }
      @media screen and (max-width: 600px) {
        .material-cards section:nth-of-type(even) {
          flex-direction: column; } }
    .material-cards section:last-of-type {
      margin-bottom: 3em; }
    .material-cards section div {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }

.hover-buttons {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 2.5em;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 3em;
  white-space: nowrap; }
  .hover-buttons li {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70% auto;
    border-radius: 100%;
    box-shadow: 1px 2px 5px 1px rgba(66, 66, 66, 0.5);
    height: 2.5em;
    margin: 0 .5vw;
    min-height: 2.5em;
    min-width: 2.5em;
    position: relative;
    transition: background .2s ease-in-out;
    width: 2.5em; }
  .hover-buttons li:hover {
    background-color: rgba(255, 255, 255, 0.7); }
    .hover-buttons li:hover > aside {
      opacity: 1;
      visibility: visible; }
  .hover-buttons a {
    display: block;
    height: 100%;
    width: 100%; }
  .hover-buttons aside {
    background-color: #fff;
    bottom: -2.8em;
    box-shadow: 1px 2px 5px 1px rgba(66, 66, 66, 0.5);
    color: #fff;
    left: 50%;
    opacity: 0;
    padding: .25em 1em;
    position: absolute;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
    visibility: hidden;
    white-space: nowrap;
    z-index: 3; }
  .hover-buttons aside:after {
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 10px;
    bottom: 100%;
    content: ' ';
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    width: 0; }

.header-fixed {
  height: 9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  top: 0;
  left: 0;
  background-color: #424242;
  box-shadow: 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
  position: fixed;
  z-index: 1; }
  @media screen and (max-width: 800px) {
    .header-fixed {
      height: 6rem; } }
  @media screen and (max-width: 600px) {
    .header-fixed {
      height: 4rem; } }
  .header-fixed > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; }
    .header-fixed > div:nth-of-type(1) {
      padding-left: 7vh;
      width: 40%; }
      @media screen and (max-width: 1400px) {
        .header-fixed > div:nth-of-type(1) {
          padding-left: 4vw; } }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(1) {
          padding-left: 1vw;
          width: 37.5%; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(1) {
          width: 30%; } }
    .header-fixed > div:nth-of-type(2) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%; }
      .header-fixed > div:nth-of-type(2) img {
        width: 80%; }
        @media screen and (max-width: 800px) {
          .header-fixed > div:nth-of-type(2) img {
            width: 50%; } }
        @media screen and (max-width: 600px) {
          .header-fixed > div:nth-of-type(2) img {
            width: 40%; } }
      .header-fixed > div:nth-of-type(2) a:link,
      .header-fixed > div:nth-of-type(2) a:active,
      .header-fixed > div:nth-of-type(2) a:visited {
        font-size: 1.85em;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        transition: color 0.2s, ease-in-out;
        text-align: center; }
        @media screen and (max-width: 800px) {
          .header-fixed > div:nth-of-type(2) a:link,
          .header-fixed > div:nth-of-type(2) a:active,
          .header-fixed > div:nth-of-type(2) a:visited {
            font-size: 1em; } }
      .header-fixed > div:nth-of-type(2) a:hover {
        color: #f57c00;
        text-decoration: none; }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(2) {
          width: 25%; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(2) {
          width: 40%; } }
    .header-fixed > div:nth-of-type(3) {
      width: 40%;
      padding-right: 7vh; }
      @media screen and (max-width: 1400px) {
        .header-fixed > div:nth-of-type(3) {
          padding-left: 4vw; } }
      @media screen and (max-width: 1200px) {
        .header-fixed > div:nth-of-type(3) {
          width: 37.5%;
          padding-right: 1vw; } }
      @media screen and (max-width: 600px) {
        .header-fixed > div:nth-of-type(3) {
          width: 30%; } }
  .header-fixed aside {
    height: 70%;
    padding: 0 4em; }
    @media screen and (max-width: 1200px) {
      .header-fixed aside {
        padding: 0 2em; } }
    .header-fixed aside img {
      min-width: 1rem;
      width: 1rem; }
    .header-fixed aside a:link,
    .header-fixed aside a:visited,
    .header-fixed aside a:active {
      font-size: 85%;
      color: #fff;
      text-decoration: none;
      margin: 0 1em; }
  .header-fixed div:nth-of-type(1) nav,
  .header-fixed div:nth-of-type(1) aside {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(1) nav,
      .header-fixed div:nth-of-type(1) aside {
        display: none; } }
  .header-fixed div:nth-of-type(1) nav {
    height: 30%;
    width: 80%; }
    @media screen and (max-width: 1200px) {
      .header-fixed div:nth-of-type(1) nav {
        height: 30%;
        width: 100%; } }
    @media screen and (max-width: 1200px) {
      .header-fixed div:nth-of-type(1) nav .menu-outer:nth-of-type(2) {
        display: none; } }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(1) nav .menu-outer:nth-of-type(1) {
        display: none; } }
  .header-fixed div:nth-of-type(3) nav,
  .header-fixed div:nth-of-type(3) aside {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    @media screen and (max-width: 800px) {
      .header-fixed div:nth-of-type(3) nav,
      .header-fixed div:nth-of-type(3) aside {
        display: none; } }
  .header-fixed div:nth-of-type(3) nav {
    height: 30%;
    width: 80%; }
  @media screen and (max-width: 800px) {
    .header-fixed div:nth-of-type(3) aside {
      display: none; } }

.hover-menu {
  height: 16vw;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 9rem;
  left: 0;
  background-color: #f57c00;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5), 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
  opacity: 0;
  position: fixed;
  transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
  visibility: hidden;
  z-index: 1; }
  .hover-menu > div {
    background-size: auto 35%;
    background-position: 105% center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0 .5rem; }
    .hover-menu > div a:link,
    .hover-menu > div a:visited,
    .hover-menu > div a:active {
      height: 14vw;
      width: 14vw;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 1.5vw;
      font-weight: 400;
      color: #5c5c5c;
      text-decoration: none;
      border: 1px solid #424242;
      padding: .5em;
      text-transform: capitalize; }
    .hover-menu > div h1 {
      transition: all 0.2s, ease-in-out;
      color: #424242;
      text-align: center;
      white-space: normal; }

.products > div:nth-of-type(1) {
  background-image: url("../assets/product-general-purpose.jpg"); }
.products > div:nth-of-type(2) {
  background-image: url("../assets/product-xmill.jpg"); }
.products > div:nth-of-type(3) {
  background-image: url("../assets/product-threadmill.jpg"); }
.products > div:nth-of-type(4) {
  background-image: url("../assets/product-p20-pro.jpg"); }
.products > div:nth-of-type(5) {
  background-image: url("../assets/product-high-velocity.jpg"); }
.products > div:nth-of-type(6) {
  background-image: url("../assets/more.svg");
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat; }

.services > div:nth-of-type(1) {
  background-image: url("../assets/product-general-purpose.jpg"); }
.services > div:nth-of-type(2) {
  background-image: url("../assets/product-xmill.jpg"); }
.services > div:nth-of-type(3) {
  background-image: url("../assets/product-threadmill.jpg"); }
.services > div:nth-of-type(4) {
  background-image: url("../assets/product-p20-pro.jpg"); }
.services > div:nth-of-type(5) {
  background-image: url("../assets/product-high-velocity.jpg"); }
.services > div:nth-of-type(6) {
  background-image: url("../assets/more.svg");
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat; }

.search {
  height: 10vw; }
  .search form {
    height: auto;
    width: 90%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
  .search input {
    height: 7vh;
    width: 60%;
    font-size: 1.5vw;
    font-weight: 400;
    color: #424242;
    text-decoration: none;
    border: 1px solid #424242;
    padding: 1.5vh; }
  .search button {
    height: 4.5vh;
    width: 5vh;
    background-image: url("../assets/search.svg");
    background-size: 80% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #424242;
    border: 1px solid #424242;
    cursor: pointer; }

.cart {
  height: 10vw; }
  .cart h1 {
    font-size: 3vw;
    text-decoration: none;
    transition: background-color 0.2s, ease-in-out;
    padding: 1vw 3vw;
    text-transform: none; }
    .cart h1:hover {
      transition: background-color 0.2s, ease-in-out;
      background-color: rgba(66, 66, 66, 0.3); }

.menu-outer {
  height: 100%;
  width: 25%; }
  @media screen and (max-width: 1200px) {
    .menu-outer {
      width: 33.3333%; } }
  .menu-outer a:link,
  .menu-outer a:visited,
  .menu-outer a:active {
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .menu-outer:hover > .hover-menu {
    opacity: 1;
    visibility: visible; }

.menu-inner {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f57c00 50%);
  background-size: 100% 200%;
  position: relative;
  transition: background .2s ease-in-out; }
  .menu-inner:hover {
    background-position: 0 100%; }
  .menu-inner p {
    white-space: nowrap; }
  .menu-inner img {
    height: 50%; }

.header-fixed div:nth-of-type(n+1) .mobile {
  display: none; }
  @media screen and (max-width: 800px) {
    .header-fixed div:nth-of-type(n+1) .mobile {
      height: 100%;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center; } }
  .header-fixed div:nth-of-type(n+1) .mobile img {
    height: 3rem; }
    @media screen and (max-width: 600px) {
      .header-fixed div:nth-of-type(n+1) .mobile img {
        height: 2.5rem; } }

.mobile-menu-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .mobile-menu-container div {
    height: auto;
    width: 100%;
    top: 6rem;
    left: 0;
    background-color: #f57c00;
    opacity: 0;
    position: fixed;
    transition: all .2s ease-in-out;
    visibility: hidden; }
    @media screen and (max-width: 600px) {
      .mobile-menu-container div {
        top: 4rem; } }
  .mobile-menu-container:hover > div {
    opacity: 1;
    visibility: visible; }
  .mobile-menu-container ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .mobile-menu-container li {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: .5em 0;
    text-align: center;
    width: 75%; }
    .mobile-menu-container li:last-of-type {
      border-bottom: 0; }
  .mobile-menu-container a:link, .mobile-menu-container a:visited, .mobile-menu-container a:active {
    color: #fff;
    text-decoration: none; }
  .mobile-menu-container form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: .5em .75em; }
  .mobile-menu-container input {
    font-size: 2em;
    text-decoration: none;
    height: 3rem;
    border: 1px solid #424242;
    box-shadow: 0;
    padding: 0 .5rem; }
  .mobile-menu-container button {
    height: 3rem;
    width: 3rem;
    background-image: url("../assets/search.svg");
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #424242;
    border-left: 0;
    box-shadow: 0; }

@media screen and (max-width: 600px) {
  .icon-cart,
  .icon-account {
    display: none; } }

.component-footer {
  align-items: center;
  background-color: #424242;
  box-sizing: border-box;
  color: #bdbdbd;
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  vertical-align: middle;
  width: 100%; }
  .component-footer figure {
    align-self: stretch;
    background-image: url("assets/logo-deboertool-lion.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 1px solid blue;
    order: 2;
    text-align: center;
    width: 20%; }
  .component-footer nav {
    order: 2;
    padding-right: .5em;
    text-align: right;
    width: 40%; }
  .component-footer section {
    order: 3;
    padding: 2em 0;
    padding-left: .5em;
    width: 60%; }
    .component-footer section p {
      max-width: 40em; }
    .component-footer section p:first-of-type {
      padding-bottom: .5em; }
    .component-footer section p:last-of-type {
      padding-top: .5em; }
  .component-footer a:link,
  .component-footer a:active,
  .component-footer a:visited {
    color: #ffcc80;
    text-decoration: none; }
  .component-footer a:hover {
    color: #fff;
    text-decoration: underline; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: 700; }

body {
  font-family: "Raleway", sans-serif; }

.page-1-article {
  height: 75vh;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../assets/hero-1080p.jpg");
  background-size: 100% auto;
  background-position: center 20%;
  background-repeat: no-repeat;
  margin-top: 9rem; }
  .page-1-article .inner-container {
    height: auto;
    width: 90%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .page-1-article .inner-container {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 1vw; } }
    @media screen and (max-width: 800px) {
      .page-1-article .inner-container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center; } }
    .page-1-article .inner-container article {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 4vh;
      padding: 2em;
      text-align: center;
      transition: background-color 1s ease-in-out; }
      .page-1-article .inner-container article h1 {
        line-height: 1;
        margin-bottom: 2vw; }
      .page-1-article .inner-container article h2 {
        line-height: 1;
        margin-bottom: 2vw; }
      .page-1-article .inner-container article h3 {
        padding: .5em 0; }
    .page-1-article .inner-container .hero-left,
    .page-1-article .inner-container .hero-right {
      background-color: rgba(245, 124, 0, 0.75);
      color: #fff;
      height: 13vw;
      width: 25vw; }
      .page-1-article .inner-container .hero-left h1,
      .page-1-article .inner-container .hero-right h1 {
        font-size: 1.8vw; }
      .page-1-article .inner-container .hero-left h3,
      .page-1-article .inner-container .hero-right h3 {
        margin-bottom: 1.5em; }
      @media screen and (max-width: 1200px) {
        .page-1-article .inner-container .hero-left,
        .page-1-article .inner-container .hero-right {
          width: 27vw; } }
      @media screen and (max-width: 800px) {
        .page-1-article .inner-container .hero-left,
        .page-1-article .inner-container .hero-right {
          display: none; } }
    .page-1-article .inner-container .hero-middle {
      background-color: rgba(245, 124, 0, 0.8);
      color: #fff;
      height: 17vw;
      width: 35vw; }
      @media screen and (max-width: 1200px) {
        .page-1-article .inner-container .hero-middle {
          width: 40vw; } }
      @media screen and (max-width: 800px) {
        .page-1-article .inner-container .hero-middle {
          height: 30vw;
          width: 80%; } }
      @media screen and (max-width: 600px) {
        .page-1-article .inner-container .hero-middle {
          height: 15em;
          width: 95%; } }
      .page-1-article .inner-container .hero-middle h1 {
        text-shadow: -1px -1px 0 #8f4800, 1px -1px 0 #8f4800, -1px 1px 0 #8f4800, 1px 1px 0 #8f4800;
        font-size: 3vw; }
        @media screen and (max-width: 800px) {
          .page-1-article .inner-container .hero-middle h1 {
            font-size: 6vw; } }
        @media screen and (max-width: 600px) {
          .page-1-article .inner-container .hero-middle h1 {
            font-size: 2em;
            line-height: 1; } }
      .page-1-article .inner-container .hero-middle h2 {
        font-size: 1.5vw; }
        @media screen and (max-width: 800px) {
          .page-1-article .inner-container .hero-middle h2 {
            font-size: 3vw; } }
        @media screen and (max-width: 600px) {
          .page-1-article .inner-container .hero-middle h2 {
            font-size: 1.3em;
            line-height: 1;
            margin-bottom: 1em; } }
    .page-1-article .inner-container h1 {
      font-weight: 700; }
    .page-1-article .inner-container h2 {
      margin: .5em 0 1em; }

.page-2-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  margin-top: 9rem;
  vertical-align: middle; }
  .page-2-article > div {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    text-align: right;
    width: 60vw; }
    .page-2-article > div > div:nth-of-type(1) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 3vw;
      width: 60%; }
      .page-2-article > div > div:nth-of-type(1) > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%; }
    .page-2-article > div > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url("../assets/special.jpg");
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%; }
      .page-2-article > div > div:nth-of-type(2) > img {
        height: 100%; }
    .page-2-article > div h1 {
      color: #424242;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em; }
    .page-2-article > div h2 {
      color: #424242;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: vw;
      padding: .75em 0 1em;
      width: 80%; }
    .page-2-article > div h3 {
      background: 0;
      font-size: 20%;
      font-weight: 200;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0; }
    .page-2-article > div a:link,
    .page-2-article > div a:active,
    .page-2-article > div a:visited {
      background: #757575;
      border: 2px solid #424242;
      box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
      color: #fff;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out; }
    .page-2-article > div a:hover {
      background: #f57c00; }

.page-1-footer {
  align-items: center;
  background: #fff;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
  display: flex;
  justify-content: center;
  min-height: 10vh; }
  .page-1-footer li:nth-of-type(1) {
    background-image: url("../assets/chevron-down.svg"); }

.page-2-footer {
  align-items: center;
  background-color: #E3F2FD;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
  display: flex;
  justify-content: center;
  min-height: 10vh; }
  .page-2-footer li:nth-of-type(1) {
    background-image: url("../assets/chevron-down.svg"); }

.page-3-header {
  height: 9rem;
  background-color: #E3F2FD; }

.page-3-article {
  align-items: center;
  background-color: #E3F2FD;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  vertical-align: middle; }
  .page-3-article > div {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    width: 40vw; }
    .page-3-article > div > div:nth-of-type(1) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%; }
      .page-3-article > div > div:nth-of-type(1) > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%; }
    .page-3-article > div > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url("../assets/vertical-p20-pro-illustrated.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%; }
      .page-3-article > div > div:nth-of-type(2) > img {
        height: 100%; }
    .page-3-article > div h1 {
      color: #424242;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em; }
    .page-3-article > div h2 {
      color: #424242;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: 2vw;
      padding: .75em 0 1em;
      width: 80%; }
    .page-3-article > div h3 {
      background: 0;
      font-size: 20%;
      font-weight: 200;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0; }
    .page-3-article > div a:link,
    .page-3-article > div a:active,
    .page-3-article > div a:visited {
      background: #757575;
      border: 2px solid #424242;
      box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
      color: #fff;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out; }
    .page-3-article > div a:hover {
      background: #f57c00; }

.page-3-footer {
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
  display: flex;
  justify-content: center;
  min-height: 10vh; }
  .page-3-footer li:nth-of-type(1) {
    background-image: url("../assets/chevron-down.svg"); }

.page-4-header {
  height: 9rem;
  background-color: #fff; }

.page-4-article {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  vertical-align: middle; }
  .page-4-article > div {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    height: 60vh;
    justify-content: center;
    width: 40vw; }
    .page-4-article > div > div:nth-of-type(1) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%; }
      .page-4-article > div > div:nth-of-type(1) > img {
        box-sizing: border-box;
        height: auto;
        padding: .5em 0 0;
        width: 90%; }
    .page-4-article > div > div:nth-of-type(2) {
      align-items: flex-start;
      background-image: url("../assets/regrinds.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%; }
      .page-4-article > div > div:nth-of-type(2) > img {
        height: 100%; }
    .page-4-article > div h1 {
      color: #424242;
      font-weight: 900;
      line-height: 1;
      margin-left: 2vw;
      margin-top: .5em; }
    .page-4-article > div h2 {
      color: #424242;
      font-size: 35%;
      font-weight: 300;
      line-height: 1.2;
      margin-left: 2vw;
      padding: .75em 0 1em;
      width: 80%; }
    .page-4-article > div h3 {
      background: 0;
      font-size: 20%;
      font-weight: 300;
      letter-spacing: 2px;
      margin-left: 2vw;
      padding: .5em 0; }
    .page-4-article > div a:link,
    .page-4-article > div a:active,
    .page-4-article > div a:visited {
      background: #757575;
      border: 2px solid #424242;
      box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
      color: #fff;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out; }
    .page-4-article > div a:hover {
      background: #f57c00; }

.page-4-footer {
  align-items: center;
  background-color: #F3E5F5;
  box-shadow: inset 0 7px 5px -5px rgba(66, 66, 66, 0.5);
  display: flex;
  justify-content: center;
  min-height: 10vh; }
  .page-4-footer li:nth-of-type(1) {
    background-image: url("../assets/chevron-down.svg"); }

.flex-left {
  justify-content: flex-start; }

.flex-right {
  justify-content: flex-end; }

/*# sourceMappingURL=index.css.map */
