// scss-lint:disable NestingDepth

@import 'var'; // Import this one first, it has our variables, they are important

// Component stack

@import 'component-stack';

// Other stuff

@import 'reset';
@import 'mixins';
@import 'site-wide';

body {
  font-family: $base-font;
}

* {
  transition: width .2s ease-in-out, height .2s ease-in-out;
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

// ###################
// # PAGES NAMESPACE #
// ###################

.page-about-us {
  section {
    div {
      @include bgimg-spec(cover, center, center, no-repeat);
    }
  }

  @include imgseries($list: ('technology.jpg', 'our-people.jpg', 'history.jpg'));
}

.page-meet-the-team {
  section {
    div {
      @include bgimg-spec(cover, center, center, no-repeat);
    }
  }

  @include imgseries($list: ('staff-gary-deboer.jpg', 'staff-rebekah-owais.jpg', 'staff-margaret-davidson.jpg', 'staff-dan-deboer.jpg', 'staff-andrew-ogilvie.jpg', 'staff-sean-ouckama.jpg'));
}

.page-product-listing {
  section {
    div {
      @include bgimg-spec(auto 90%, center, center, no-repeat);
    }
  }

  @include imgseries($list: ('product-vertical-general-purpose.jpg', 'product-vertical-xmill.jpg', 'product-vertical-threadmill.jpg', 'product-vertical-high-velocity.jpg', 'product-vertical-p20-pro.jpg', 'product-vertical-amill.jpg'));
}

.page-services {
  section {
    div {
      @include bgimg-spec(cover, center, center, no-repeat);
    }
  }

  @include imgseries ($list: ('hero-480p.jpg', 'custom-temp.jpg', 'service-regrinding-temp.jpg', 'service-recycle-temp.jpg', 'service-coating-temp.jpg'));
}

// X-Mill Series Index Background Images

.page-xmill-series-index {
  section {
    div {
      @include bgimg-spec(auto 90%, center, center, no-repeat);
    }
  }

  @include imgseries($list: ('product-vertical-xmill.jpg', 'product-vertical-xmill.jpg', 'product-vertical-xmill.jpg', 'product-vertical-xmill.jpg', 'product-vertical-xmill.jpg'));
}
