// scss-lint:disable NestingDepth

@import 'var'; // Import this one first, it has our variables, they are important

// Component stack

@import 'component-stack'; // Components such as header and footer

// Other stuff

@import 'reset'; // CSS HTML5 reset
@import 'mixins';
@import 'site-wide'; // Stuff that applies to every. single. page.

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font;
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.search-header {
  background-color: $light;
  box-shadow: $level1;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  margin-top: $h-header + 2rem;
  padding: 1.5vh;
  transition: width .2s ease-in-out;
  width: 70%;

  div {
    display: flex;
    flex-direction: row;
    width: 100%;

    &:nth-of-type(1) {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      align-items: center;
      border-top: 1px solid $grey-mid;
      // display: none;
      justify-content: center;
      margin-top: 1rem;
      padding-top: .7rem;

      form {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    form {
      display: flex;
      font-family: 'Raleway', sans-serif; // doesn't inherit, super fun
    }
  }

  input {
    border: 1px solid $grey-mid;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; // doesn't inherit
    height: 2.5rem;
    margin: 0; padding: 0 .5rem;
    width: 20em;
  }

  button {
    background-color: $orange;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: $light;
    height: 2.5rem;
    margin-left: .5rem;
    padding: 0 1rem;
    text-decoration: none;
    transition: background .2s ease-in-out;

    &:hover {
      background-color: darken($orange, 10%);
      border: 1px solid $grey-mid;
      box-shadow: $level2-inset;
    }
  }

  $margin: .25rem;

  select {
    border: 1px solid $grey-mid;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; // doesn't inherit
    height: 2.5rem;
    margin: $margin;
    min-width: 31%;
    padding: 0 .25rem;
  }

  h1,
  a:link,
  a:visited,
  a:active {
    color: $grey-dark;
    margin: $margin * 2;
    text-align: left;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    text-align: right;
  }
}

.material-cards-small {
  border: 1px solid $grey-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  width: 70%;

  section {
    box-shadow: $level2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20rem;
    margin: .5rem;
    width: 30%;

    div {
      &:nth-of-type(1) {
        background-image: url($root+$assets+'product-vertical-general-purpose.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 90%;
        width: 30%;
      }

      &:nth-of-type(2) {
        width: 70%;
      }
    }
  }
}
