/* Search Bar & Search Results */
.searchBar {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1.5em;
  width: 70%;
  background: white;
  box-shadow: 2px 2px 7px #424242;
  font-family: 'Raleway', sans-serif;
  transition: width 0.2s ease-in-out; }

.searchBar form {
  display: inline-block; }

.searchBar > form input {
  display: inline-block;
  margin: 0;
  padding: 0 0.5rem;
  height: 2.5rem;
  width: 20em;
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  border: 1px solid #BDBDBD;
  box-sizing: border-box; }

.searchBar button {
  display: inline-block;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: orange;
  color: white;
  text-decoration: none;
  border: none;
  height: 2.5rem;
  padding: 0 1rem;
  box-sizing: border-box; }

.searchBar a:link,
.searchBar a:active,
.searchBar a:visited {
  color: orange;
  text-decoration: none;
  padding-left: 2rem;
  text-transform: capitalize; }

.searchBar a:hover {
  text-decoration: underline; }

.searchBar button:hover {
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  transition: all 0.2s ease-in-out; }

/* Advanced Search and Reveal Div */
.searchBar .reveal {
  border-top: 1px solid #bdbdbd;
  margin-top: 1em;
  width: 100%;
  display: none;
  text-align: left; }

.searchBar .reveal h1 {
  line-height: 2.5; }

.searchBar .reveal select {
  height: 1.75em;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  border: 1px solid #bdbdbd; }

.searchBar .reveal a {
  padding-left: 0.25rem; }

/* ####### RESULTS ######### */
/* container */
.searchResults {
  margin: 0 auto;
  width: 68%;
  box-shadow: 1px 1px 5px rgba(66, 66, 66, 0.5);
  transition: width 0.2s ease-in-out; }

/* table */
.searchResults table {
  width: 100%;
  background: white;
  vertical-align: middle;
  border-bottom: 1px solid #BDBDBD;
  font-family: 'Roboto', sans-serif;
  font-size: 95%; }

/* columns */
.searchResults table:first-child tr:first-child td {
  /* a little extra padding for the first result to comp for searchBar box-shadow */
  padding-top: 0.5rem; }

.searchResults td {
  padding: 0.5rem 0.75rem; }

.searchResults tr:nth-child(1) td:nth-child(2) {
  /* set the width of the "add to cart" cell */
  width: 9em;
  min-width: 9em;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap; }

.searchResults tr:nth-child(2) td:nth-child(odd) {
  min-width: 4%;
  text-align: right;
  padding: 0;
  white-space: nowrap; }

.searchResults tr:nth-child(2) td:nth-child(even) {
  width: 17%;
  text-align: left;
  white-space: nowrap; }

.searchResults tr:nth-child(2) td:nth-child(1) {
  padding-left: 0.75rem; }

.searchResults tr:nth-child(2) td:nth-child(8) {
  width: 5%; }

/*.searchResults table tr:nth-child(3) td {
	padding: 0.25rem 0.75rem 0.5rem 0.75rem;
}*/
.searchResults section:last-child table td:last-child {
  /* last search result box has no bottom border */
  border-bottom: 0;
  margin-bottom: 2rem; }

/* images links and buttons */
.searchResults table img {
  padding: 0.75rem 0;
  height: 2.8em; }

.searchResults table a {
  color: orange;
  text-decoration: none; }

.searchResults table a:hover {
  text-decoration: underline; }

.searchResults button {
  display: block;
  background-color: orange;
  color: white;
  margin: 0 auto;
  border: none;
  height: 4rem;
  padding: 0 1rem;
  transition: background 0.2s ease-in-out; }

.searchResults button:hover {
  background: #000;
  transition: background 0.2s ease-in-out; }

/* @media stuff */
@media screen and (max-width: 1600px) {
  .searchBar {
    width: 80%; }

  .searchResults {
    width: 78%; } }
@media screen and (max-width: 1400px) {
  .searchBar {
    width: 80%; }

  .searchResults {
    width: 78%;
    font-size: 90%; } }
@media screen and (max-width: 1100px) {
  .searchBar {
    width: 90%; }

  .searchResults {
    width: 88%;
    font-size: 90%; }

  .searchResults tr:nth-child(2) td:nth-child(5),
  .searchResults tr:nth-child(2) td:nth-child(6) {
    display: none; } }
@media screen and (max-width: 800px) {
  /* This is roughly where we start considering a screen "mobile" */
  .searchBar {
    width: 98%; }

  .searchBar {
    margin-top: 3.5rem;
    text-align: center;
    padding: 0.5em 1em; }

  .searchBar form {
    display: block;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 0.5em; }

  .searchBar form input {
    padding: 0 0.25rem;
    height: 2.5rem;
    width: 100%; }

  .searchBar > button {
    box-sizing: border-box;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin: 0;
    width: 30%;
    font-size: 100%; }

  .searchBar .reveal form {
    text-align: left;
    display: inline; }

  .searchBar .reveal select {
    height: 2rem;
    width: 30%;
    text-align: left;
    margin-bottom: 0.5rem; }

  .searchResults {
    width: 96%;
    font-size: 90%; }

  .searchResults tr:nth-child(2) td:nth-child(1),
  .searchResults tr:nth-child(2) td:nth-child(3),
  .searchResults tr:nth-child(2) td:nth-child(5),
  .searchResults tr:nth-child(2) td:nth-child(6) {
    display: none; }

  .searchResults tr:nth-child(1) td:nth-child(2) {
    width: 5em;
    min-width: 5em; }

  .searchResults button {
    width: 5em;
    white-space: normal; } }
@media screen and (max-width: 500px) {
  .searchBar {
    font-size: 90%; }

  .searchResults {
    font-size: 90%; }

  .searchResults table img {
    height: 2em; }

  .searchResults tr:nth-child(2) td:nth-child(2) {
    width: auto;
    display: none; }

  .searchResults tr:nth-child(2) td:nth-child(3) {
    padding: 0.5rem; }

  .searchResults tr:nth-child(2) td:nth-child(8) {
    padding-left: 0.25rem;
    text-align: left; } }

/*# sourceMappingURL=search-results.css.map */
