// scss-lint:disable NestingDepth

@import 'var'; // Import this one first, it has our variables, they are important

// Component stack

@import 'component-stack'; // Components such as header and footer

// Other stuff

@import 'mixins';
@import 'site-wide'; // Stuff that applies to every. single. page.

body {
  font-family: $base-font;
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
