// scss-lint:disable NestingDepth

@import 'css/var'; // Import this one first, it has our variable

// COMPONENTS

@import 'css/component_toc';
@import 'css/component_button-rect';
@import 'component_hover-buttons';
@import 'component_header';

// OTHER

@import 'reset';
@import 'mixins';

@import 'site-wide';

body {
  font-family: $base-font;
}

.page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2em;
  width: 100%;
}

article {
  margin-top: $h-header;
  width: 70%;

  section {
    box-shadow: $level1;
    display: flex;
    margin-top: 2vh;

    > div:nth-of-type(1) {
      order: 1;
      width: 40%;
    }

    > div:nth-of-type(2) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      padding: 6vh 0;
      width: 60%;

      h1 {
        font-size: 6vh;
        font-weight: 900;
        line-height: .9;
      }

      h2 {
        font-size: 3vh;
        font-weight: 400;
        line-height: 2;
      }

      p {
        padding: .5em;
        width: 70%;
      }

      p:last-of-type {
        margin-bottom: 1.5em;
      }

    }

    &:nth-of-type(odd) {
      flex-direction: row;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    // set div backgrounds

    div {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:nth-of-type(1) {
      > div {
        &:nth-of-type(1) {
          background-image: url('assets/technology.jpg');
        }
      }
    }

    &:nth-of-type(2) {
      > div {
        &:nth-of-type(1) {
          background-image: url('assets/our-people.jpg');
        }
      }
    }

   &:nth-of-type(3) {
      > div {
        &:nth-of-type(1) {
          background-image: url('assets/history.jpg');
        }
      }
    }
  }
}

