body {
	background: white;
}

/* ########## NAV ########### */

.titleBar {
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 5rem;
	padding: 1.5em;
	width: 70%;
	background: white;
	box-shadow: 2px 2px 7px rgba(66, 66, 66, 1);
	font-family: 'Raleway', sans-serif;
	transition: width 0.2s ease-in-out;
	text-align: center;
}

.titleBar h1 {
	font-size: 200%;
	font-weight: 400;
}

/* ####### article ######### */

article {
	margin-top: 5rem;
}

article section {
	margin: 0 auto;
	margin-top: 1rem;
	width: 68%;
	box-shadow: 2px 2px 5px 2px rgba(66, 66, 66, 0.5);
	transition: width 0.2s ease-in-out;
	height: 60vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

/* odd numbered sections, hero image on the left */

article section:nth-child(odd) > div:nth-child(1) {
	float: left;
	width: 40%;
	height: 100%;
	background: url(assets/technology.jpg);
	background-size: cover;
}

article section:nth-child(odd) > div:nth-child(2) {
	position: relative;
	float: right;
	width: 60%;
	height: 100%;
	background: #00C853;
	color: #E8F5E9;
}

/* even numbered sections, hero image on the right */

article section:nth-child(even) > div:nth-child(1) {
	float: right;
	width: 40%;
	height: 100%;
	background: url(assets/technology.jpg);
	background-position: center;
	background-size: cover;
}

article section:nth-child(even) > div:nth-child(2) {
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	background: #0091EA;
	color: #E1F5FE;
}

/* overrides */

article section:nth-child(2) > div:nth-child(1) {
	background: url(assets/our-people.jpg);
}

article section:nth-child(3) > div:nth-child(1) {
	background: url(assets/history.jpg);
}

article section:nth-child(3) > div:nth-child(2) {
	background: #AA00FF;
}

article section:last-child {
	margin-bottom: 5rem;
}

/* divs inside divs */

article div div {
	width: 100%;
	float: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* ########## SECTION ARTICLE ETC ########## */

article h1 {
	font-size: 500%;
	font-weight: 700;
	line-height: 1;
}

article h2 {
	font-size: 150%;
	font-weight: 700;
	line-height: 2;
}

article p {
	margin: 0 auto;
	font-size: 95%;
	font-weight: 400;
	margin-top: 1em;
	width: 60%;
}

article a:link,
article a:active,
article a:visited {
	color: white;
}

article span a {
	margin: 0 auto;
	margin-top: 2em;
	display: block;
	line-height: 3;
	width: 70%;
	background: rgba(0,0,0,0.1);
	color: white;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	font-weight: 700;
}

article span a:hover {
	background: rgba(0,0,0,0.5);
}



/* @media stuff */

@media screen and (max-width: 1600px) {
	.titleBar {
		width: 80%;
	}

	.article section {
		width: 78%;
	}
}

@media screen and (max-width: 1400px) {
	.titleBar {
		width: 80%;
	}

	.article section {
		width: 78%;
		font-size: 90%;
	}
}

@media screen and (max-width: 1100px) {
	.titleBar {
		width: 90%;
	}

	.article section {
		width: 88%;
		font-size: 90%;
	}

	.article section tr:nth-child(2) td:nth-child(5),
	.article section tr:nth-child(2) td:nth-child(6) {
		display: none;
	}

}

@media screen and (max-width: 800px) { /* This is roughly where we start considering a screen "mobile" */
	.titleBar {
		width: 98%;
	}

	.titleBar {
		margin-top: 3.5rem;
		text-align: center;
		padding: 0.5em 1em;
	}

	.titleBar form {
		display: block;
		width: 99%;
		margin: 0 auto;
		margin-bottom: 0.5em;
	}

	.titleBar form input {
		padding: 0 0.25rem;
		height: 2.5rem; 
		width: 100%
	}

	.titleBar > button {
		box-sizing: border-box;
		height: 2.5rem;
		padding: 0 0.5rem;
		margin: 0;
		width: 30%;
		font-size: 100%;
	}

	.titleBar .reveal form {
		text-align: left;
		display: inline;
	}

	.titleBar .reveal select {
		height: 2rem;
		width: 30%;
		text-align: left;
		margin-bottom: 0.5rem;
	}

	.article section {
		width: 96%;
		font-size: 90%;
	}

	.article section tr:nth-child(2) td:nth-child(1),
	.article section tr:nth-child(2) td:nth-child(3),
	.article section tr:nth-child(2) td:nth-child(5),
	.article section tr:nth-child(2) td:nth-child(6) {
		display: none;
	}

	.article section tr:nth-child(1) td:nth-child(2) {
		width: 5em; min-width: 5em;
	}

	.article section button {
		width: 5em;
		white-space: normal;
	}
}

@media screen and (max-width: 500px) {

	.titleBar {
		font-size: 90%;
	}

	.article section {
		font-size: 90%;
	}

	.article section table img {
		height: 2em;
	}

	.article section tr:nth-child(2) td:nth-child(2) {
		width: auto;
		display: none;
	}

	.article section tr:nth-child(2) td:nth-child(3) {
		padding: 0.5rem;
	}

	.article section tr:nth-child(2) td:nth-child(8) {
		padding-left: 0.25rem;
		text-align: left;
	}

}
