/* CSS TOC */
/* ..... CSS Reset                                ..... */
/* ..... Body Styling                             ..... */
/* ..... Meta Styling                             ..... */
/* ..... Header Contents                          ..... */
/* ..... Section-->Header/Article/Footer Contents ..... */


/*........... CSS Reset ...........*/ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table {	border-collapse: collapse; border-spacing: 0; }

/* ..... Body Styling   ..... */

body {
	background: #EEEEEE;
	padding-bottom: 1rem;
}

/* ..... Meta Styling ..... */

header,
section article,
section footer {
	/* Meta */
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;

	/* Positions */
	position: relative;
	margin: 0.5rem 1rem 0 1rem;
	width: calc(100% - 2rem);
	padding: 0.9rem 1.2rem;

	/* Font */
	font-family: 'Open Sans', sans-serif;
	
	/* Border */
	border: 1px solid #ccc;
}

a:link, a:active, a:visited {
	color: #FF6F00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

/* ..... Header Contents ..... */

header img { /* Menu Button */
	position: absolute;
	margin: 0; padding: 0;
	height: 1rem;
	right: 2rem;
	top: calc(50% - 0.5rem); /* Positions the element in the middle no matter what size the page is */
}

header h1 { /* page headline */
	display: inline;
	margin-right: 0.5rem;
	font-size: 1.75rem;
	line-height: 1;
}

header h2 { /* page description */
	display: inline;
	font-size: 1.2rem;
	line-height: 1;
}

/* .... Section Contents .... */

section footer a {
	padding: 0.35rem 0.7rem 0.5rem 0.7rem; 
	margin: 0 0;
	transition: all .15s ease-in-out;
	float: left;
}

section footer a:hover {
	background-color: #ccc;
}


/* .... Single Attribute Selectors .... */

.invisible {
	visibility: hidden;
}

.marginLeft1rem {
	margin-left: 1rem;
}


/* .... Colors .... */

.grey {
	background: #EEEEEE;
}
			
.yellow {
	background: #FFF9C4;
}
			
.green {
	background: #C8E6C9;
}
			
.red {
	background: #FFCDD2;
}

.blue {
	background: #BBDEFB;
}