// scss-lint:disable NestingDepth

// font stack
$base-font: 'Raleway', sans-serif; //'Roboto', sans-serif;

// color stack
$light: #fff;
$grey-mid: #9e9e9e;
$grey-dark: #424242;
$orange: rgba(255,127,42,1);
$deeporange: #757575;

// dbt color stack
$blue: desaturate(#64b5f6, 25%);
$green: desaturate(#69f0ae, 25%);
$purple: #ea80fc;
$lightorange: rgba(255,127,42,1);
$red: lighten(#ff5252, 5%);

// margins & padding
$std-x: 3vw;
$std-y: 2vh;

// transitions
$std-trans: .2s;
$std-trans-type: ease-in-out;

// sizing
$h-header: 15vh;
$h-article: 75vh;
$h-footer: 10vh;

//icons
$icon-height: 2.5em;
$bg-popup: $light;

// material levels
$level1: 2px 2px 5px 2px rgba(66, 66, 66, .5);
$level1-inset: inset 0 2px 5px 0 rgba(66, 66, 66, .5);
$level2: 0 2px 7px 1px rgba(66, 66, 66, .5);
$level3: 0 4px 10px 2px rgba(66, 66, 66, .5);

@import 'reset';
@import 'mixins';
@import 'component_hover-buttons';

// * {
//   box-sizing: border-box;
// }

body {
  font-family: $base-font;
}

.page-1-header {
  align-items: center;
  background: $grey-dark;
  box-shadow: $level1;
  display: flex;
  flex-direction: row;
  font-size: 95%;
  height: $h-header;
  justify-content: space-between;
  min-height: $h-header;
  position: relative;
  z-index: 1;

  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: 35%;

    &:nth-of-type(1) {
      margin-left: $std-x;
    }

    &:nth-of-type(2) {
      margin-right: $std-x;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, $orange 50%);
    background-size: 100% 200%;
    color: $light;
    display: flex;
    font-weight: 300;
    padding: 0 ($std-x * .5);
    position: relative;
    text-transform: uppercase;
    transition: background $std-trans $std-trans-type;
    transition-delay: ($std-trans);

    > a:link,
    > a:visited,
    > a:active {
      color: $light;
      height: 100%;
      padding: ($std-y * .75) 0;
      text-decoration: none;
      white-space: nowrap;
      width: 100%;
    }
  }

  li:hover {
    background-position: 0 100%;

    > .hover-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      z-index: 1;
    }
  }

  figure {
    text-align: center;
  }

  aside {
    align-items: center;
    box-sizing: border-box;
    color: $light;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5vh;
    padding-left: $std-x * .5;

    img {
      width: 1.5em;
    }

    a:link:nth-of-type(2),
    a:visited:nth-of-type(2),
    a:active:nth-of-type(2) {
      color: $light;
      margin-left: 1em;
      text-decoration: none;
    }

    a:hover:nth-of-type(2) {
      text-decoration: underline;
    }
  }
}

.page-1-article {
  align-items:center;
  background-image: url('assets/hero-new2.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: $h-article;
  justify-content: center;
  text-align: center;
  vertical-align: middle;

  div {
    $size: 6em;
    align-items: center;
    background: rgba(255, 255, 255, .7);
    border: 5px solid $light;
    border-radius: $size;
    box-shadow: $level2;
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    height: $size;
    justify-content: center;
    transition: background-color 2s $std-trans-type;
    width: $size;

    &:hover {
      background: rgba(255, 255, 255, .8);
    }

    h1 {
      color: $grey-dark;
      font-weight: 700;
      line-height: .8;
      margin-top: .45em;
    }

    h2 {
      font-size: 35%;
      margin-top: .75em;
      width: 80%;
    }

    h3 {
      background: 0;
      font-size: 20%;
      font-weight: 600;
      letter-spacing: 2px;
      margin-top: 2em;
    }

    a:link,
    a:active,
    a:visited {
      color: $light;
      background: lighten($grey-dark, 20%);
      border: 2px solid $grey-dark;
      box-shadow: $level1-inset;
      padding: .5em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color $std-trans $std-trans-type;
    }

    a:hover {
      background: $orange;
    }
  }

}

.page-1-footer {
  align-items: center;
  background: $light;
  box-shadow: $level1-inset;
  display: flex;
  justify-content: center;
  min-height: $h-footer;

  li:nth-of-type(1) {
    background-image: url('assets/chevron-down.svg');
  }
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.hover-menu {
  background-color: $orange;
  box-shadow: $level1-inset, $level1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: $h-header;
  transition: all $std-trans $std-trans-type;
  transition-delay: $std-trans;
  visibility: hidden;
  width: 100%;
  z-index: 0;
}

.menu-tile {
  align-items: center;
  background-position: 105% center;
  background-repeat: no-repeat;
  background-size: auto 40%;
  border: 1px solid $light;
  display: flex;
  height: 13vw;
  justify-content: center;
  margin: 1vw;
  width: 13vw;

  a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    text-align: center;
    text-decoration: none;
    transition: all $std-trans $std-trans-type;
    width: 100%;

    h1 {
      color: $light;
      font-size: 2vw;
      font-weight: 300;
    }
  }

  &:hover > a:link {
    background: rgba(0, 0, 0, .5);
    opacity: 1;
  }
}

.products {
  .menu-tile {
    background-color: $light;

    &:nth-of-type(1) {
      background-image: url('assets/product-general-purpose.png');
    }

    &:nth-of-type(2) {
      background-image: url('assets/product-xmill.png');
    }

    &:nth-of-type(3) {
      background-image: url('assets/product-threadmill.png');
    }

    &:nth-of-type(4) {
      background-image: url('assets/product-p20-pro.png');
    }

    &:nth-of-type(5) {
      background-image: url('assets/product-high-velocity.png');
    }
  }
}

.services {
  .menu-tile {
    &:nth-of-type(1) {
      background-color: $light;
      background-image: url('assets/footer-aside-1.png');
    }

    &:nth-of-type(2) {
      background-color: $light;
      background-image: url('assets/footer-aside-2.png');
    }

    &:nth-of-type(3) {
      background-color: $light;
      background-image: url('assets/footer-aside-3.png');
    }
  }
}