/* Per Page Stylesheet */
/* Search-Results */

@media (max-width: 1200px) {
	html {
		font-size: 90%;
	}

	section article td:nth-child(4),
	section article th:nth-child(4),
	section article td:nth-child(5),
	section article th:nth-child(5) { /* vendor */
		display: none;
	}

	section article {
		overflow-x: auto;
	}
}

@media (max-width: 100rem) {
	section header { /* Get rid of the padding for when we want the tables to stack with margin */
		padding-bottom: 0;
	}

  section header .metadata:nth-child(1), 
  section header .metadata { /* Add margin to the bottom of these, so they stack nicely */
    margin-bottom: 0.5rem;
  }

  section header .metadata:nth-child(3) { /* Add more margin here as the bottom table take over padding duties */
    margin-bottom: 1rem;
  }

  header > h1,
  header > h2 {
  	display: block;
  }
}


section header .metadata {
	float: left;
	margin-right: 0.75rem;
}

section header .metadata:last-child {
	height: 5.5em;
	margin-right: 0;
}

section header .metadata td {
	border: 1px solid #ccc;
	padding: 0.25rem;
	font-size: 0.95rem;
}

section header .metadata td:nth-child(1) {
	font-weight: 700;
	text-align: right;
	min-width: 7em;
	padding-right: 0.5em;
}

section header .metadata td:nth-child(2) {
	font-weight: 400;
	text-align: left;
	min-width: 7em;
	padding-left: 0.5em;
}

section article .displayPurchaseOrder { /* Purchase Order Table */
	width: 100%;
	font-size: 0.95rem;
}

section article th {
	border: 0;
	font-size: 0.7em;
	text-align: left;
	padding: 0.15rem 0.5rem;
}

section article td {
	border: 1px solid #ccc;
	padding: .4em .5em;
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
}

section article td:nth-child(1),
section article td:nth-child(2) { /* Select and line item # */
	width: 1rem;
	text-align: center;
}

section article td:nth-child(3),
section article td:nth-child(4) { /* dbt & vendor part numbers */
	width: 8rem;
}

section article td:nth-child(5) { /* description */
	width: 15rem;
}

section article td:nth-child(6) { /* ordered */
	width: 3rem;
}

section article td:nth-child(7) { /* info */
	width: 3rem;
	text-align: center;
}

section article td:nth-child(8) {  /* remaining */
	width: 3rem;
}

section article td:nth-child(9) {  /* status */
	width: 9rem;
	min-width: 9rem;
	white-space: nowrap;
}

section article td:nth-child(10),
section article td:nth-child(11) {  /* cost, subtotal */
	width: 5rem;
}

/* Prevent text wrap using ellipsis */

section article .truncated {
	width: 15rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* CSS icon-style stuff */

section article td div div { /* css circle background for info & refresh */
	/* Meta */
	background: #ccc;

	/* Positioning */
	position: relative;
	margin: 0 auto;
	height: 1.5em;
	width: 1.5em;

	/* Border */
	border-radius: .75em; /* Half the height&width */

	/* Font */
	font-weight: 700;
	line-height: 1.5; /* This makes sure the text is centered vertically */
	color: #fff;

	/* Transitions */
	transition: all .1s ease-in-out;
}

section article td div div:hover { /* icon hover effect */
	background: #EF6C00;
}

section article td div a:hover { /* block the link from inheriting underline */
	text-decoration: none;
}


