/* Per Page Stylesheet */
/* Search-Results */

section article .searchResultsCatalogue {
	width: 100%;
}

section article .searchResultsCatalogue th {
	border: 0;
	font-size: 0.7em;
	text-align: left;
	padding: 0.15rem 0.5rem;
}

section article .searchResultsCatalogue td {
	border: 1px solid #ccc;
	padding: .4em .5em;
	font-weight: 400;
	text-align: left;
	vertical-align: middle;
}

section article .searchResultsCatalogue td:nth-child(1),
section article .searchResultsCatalogue td:nth-child(2) { /* Select and line item # */
	width: 1rem;
	text-align: center;
}

section article .searchResultsCatalogue td:nth-child(n+5):nth-child(-n+7) { /* info & refresh */
	width: 3rem;
	text-align: center;
}

section article .searchResultsCatalogue td:nth-child(n+7):nth-child(-n+12) { /* Number boxes */
	width: 2rem;
}

	/* Table inside table */

	section article .searchResultsCatalogue .productionInfo {
		border: 0;
		margin-left: 1rem;
		font-size: 0.95rem;
		line-height: 1.5;
	}

	section article .searchResultsCatalogue .productionInfo td:nth-child(1) {
		border: 0; padding: 0; margin: 0;
		white-space: nowrap;
		text-align: left;
		padding-right: 1rem;
	}

	section article .searchResultsCatalogue .productionInfo td:nth-child(2) {
		border: 0; margin: 0;
		padding: 0 1.5rem;
		white-space: nowrap;
	}

	section article .searchResultsCatalogue .productionInfo tr {
		border-bottom: 1px solid #ccc;
	}

	section article .searchResultsCatalogue .productionInfo tr:last-child {
		border-bottom: 0;
	}

/* CSS icon-style stuff */

section article td div div { /* css circle background for info & refresh */
	/* Meta */
	background: #ccc;

	/* Positioning */
	position: relative;
	margin: 0 auto;
	height: 1.5em;
	width: 1.5em;

	/* Border */
	border-radius: .75em; /* Half the height&width */

	/* Font */
	font-weight: 700;
	line-height: 1.5; /* This makes sure the text is centered vertically */
	color: #fff;

	/* Transitions */
	transition: all .1s ease-in-out;
}

section article td div div:hover {
	background: #EF6C00;
}

section article td div a:hover {
	text-decoration: none;
}

/* Reveals & Whatnot */

.section article .reveal tr {
		border: 1px solid #ccc;
		height: 2.3rem;
}

section article .reveal td:nth-child(1) { /* needs nth-child to block inheritence */
	text-align: left;
}

section article .reveal td:nth-child(2) { /* get rid of padding and margin */
	padding: 0; margin: 0;
}

section article .reveal td div {
	box-sizing: border-box; /* otherwise it's hard to do 100% width without calc */
	margin: 0; padding: 0 0.5rem;
	height: 100%; width: 100%;
	display: none;
	line-height: 2.3rem;
	text-align: left;
}

section article .reveal {
	background: #eee;
	display: none;
	vertical-align: middle;
	line-height: 1;
}

section article .reveal td div a:hover {
	text-decoration: underline;
}