// font stack
$base-font:         'Roboto', sans-serif;

// base vars
$nav-height:        5rem;
$separator:         2vh;
$icon-height:       4vh;
$info-width:        50%;
$div-l-width:       20%;
$div-r-width:       80%;

// gradient
$gradient:          100%;

// color scheme [BRIGHT AND BOLD]
$bg:                #fff;
$bg-under:          #ccc;
$bg-header:         #424242; //#d500f9;
$bg-div1:           darken($bg-header, $gradient); //#43a047; //#c51162;
$bg-div2:           darken($bg-div1, $gradient); //#2e7d32; //#a0f;
$bg-div3:           darken($bg-div2, $gradient); //#43a047;
$bg-div4:           darken($bg-div3, $gradient); //#2e7d32;
$bg-popup:          #757575;
$orange:            #ff9800;

// font
$light:             #fff;
$grey-mid:          #bdbdbd;
$dark:              #424242;

// images
$image-sec1:        url('assets/xmill-stub.png');

// box-shadow
$level1:            2px 2px 5px 2px rgba(66, 66, 66, .5);
$level2:            1px 1px 5px 1px rgba(66, 66, 66, .6);

// This page only
$cart-pad-y: 2vh;
$cart-pad-x: 2vw;
$cart-padding: $cart-pad-y $cart-pad-x;

// mixins
@import 'reset';
@import 'mixins';
@import 'flex-content';
@import 'add-to-cart-popover';
@import 'footer';
@import 'side-wide';
@import 'component_hover-buttons';

html,
body {
  background: $bg;
  height: 100%;
}

article {
  header {
    background-color: $bg-header;
    box-shadow: $level1;
    color: $light;
    margin-top: 1rem;
    text-align: center;

    h1 {
      font-size: 200%;
      line-height: 1;
      padding-bottom: 3vh;
      padding-top: 3vh;
    }

    table {
      margin: 0 auto;
      margin-bottom: 2.5vh;
      width: 50%;
    }

    tr {
      border-bottom: 1px solid $light;
    }

    td {
      border: 0;
      padding: .25em 0;
    }

    tr:last-of-type {
      border-bottom: 0;
    }

    td:nth-of-type(1) {
      text-align: right;
      padding-right: .5em;
      width: 30%;
    }

    td:nth-of-type(2) {
      text-align: left;
      padding-left: .5em;
    }

    p {
      font-size: 1rem;
      margin: 0 auto;
      margin-top: 0;
      padding-bottom: 2vh;
      width: 60%;
    }
  }

  footer {
    background-color: $bg-header;
    box-shadow: $level1;
    color: $light;
    margin-top: 1rem;
    padding: $cart-padding;
    position: relative;
    text-align: right;

    > h1 {
      font-size: 200%;
      line-height: 1;
      padding-bottom: 3vh;
      padding-top: 3vh;
    }

    > p {
      display: inline;
    }

    > p:nth-of-type(odd) {
      color: $grey-mid;
      font-size: 70%;
    }

    > p:nth-of-type(even) {
      color: $light;
      font-size: 90%;
    }

    > p:last-of-type {
      font-weight: 700;
      font-size: 120%;
    }

    > button {
      @include middle;
      background-color: $dark;
      border: 1px solid $light;
      color: $light;
      float: left;
      font-family: $base-font;
      height: 2em;
      left: $cart-pad-x;
      position: absolute;
      transition: all .1s ease-in-out;
      width: 10em;
    }

    > button:hover {
      background: #000;
      box-shadow: inset 2px 2px 5px 0 #9e9e9e;
    }

    // p:nth-of-type(1),
    // p:nth-of-type(2) {
    //   color: $grey-mid;
    //   font-size: 85%;
    // }

    // p:nth-of-type(3) {
    //   font-weight: 700;
    // }
  }
}

.cart-actions {
  padding: 2vh 0 1.6vh;
  width: 90%;

  li:nth-of-type(1) {
    background-image: url('assets/delete.svg');
    order: 2;
  }

  li:nth-of-type(2) {
    background-image: url('assets/download-pdf.svg');
    order: 1;
  }

  li:nth-of-type(3) {
    background-image: url('assets/save-changes.svg');
    order: 3;
  }

  li:nth-of-type(4) {
    background-image: url('assets/arrow-forward.svg');
    order: 4;
  }
}

.in-stock {
  li:nth-of-type(1) {
    background-image: url('assets/in-stock.svg');
    border: 0;
    box-shadow: none;
  }
}

.out-of-stock {
  li:nth-of-type(1) {
    background-image: url('assets/out-of-stock.svg');
    border: 0;
    box-shadow: none;
  }
}

.partial-stock {
  li:nth-of-type(1) {
    background-image: url('assets/partial-stock.svg');
    border: 0;
    box-shadow: none;
  }
}



// @media stuff

@media screen and (max-width: 1000px) {
  article {
    width: 90%;

    .material {

      table {
        font-size: 90%;
        width: 80%;
      }

    }
  }
}

@media screen and (max-width: 800px) {
  article {
    width: 85%;

    .material {

      table {
        font-size: 85%;
        width: 90%;
      }
    }

    header {
      font-size: 85%;

      p {
        width: 80%;
      }

      table {
        width: 70%
      }
    }

  }
}


@media screen and (max-width: 600px) {
  article {
    width: 98%;

    .material {

      &:nth-of-type(odd),
      &:nth-of-type(even) {
        flex-direction: column;
      }

      figure {
        height: 40vh;
        width: 100%;
      }

      section {
        width: 100%;
      }

      table {
        font-size: 85%;
        width: 90%;
      }

    }
  }
}
