html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 100%; }

.outer-container {
  height: auto;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5vw 1vw; }
  .outer-container .quote-metadata,
  .outer-container .quote-actions,
  .outer-container .quote-body {
    height: auto;
    width: 100%;
    border: 1px solid #bdbdbd;
    box-shadow: 2px 2px 5px 0 rgba(66, 66, 66, 0.5);
    padding: 1rem; }
    .outer-container .quote-metadata select,
    .outer-container .quote-metadata button,
    .outer-container .quote-actions select,
    .outer-container .quote-actions button,
    .outer-container .quote-body select,
    .outer-container .quote-body button {
      height: 2em;
      width: auto;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
      font-size: 90%; }
  .outer-container .quote-metadata {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .outer-container .quote-metadata h1 {
      font-size: 200%;
      font-weight: 700; }
  .outer-container .quote-actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem; }
    .outer-container .quote-actions span {
      background-color: #fff59d; }
    .outer-container .quote-actions h1 {
      font-size: 150%; }
  .outer-container .quote-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 0.5rem; }
    .outer-container .quote-body h1 {
      font-size: 110%;
      font-weight: 400; }
    .outer-container .quote-body .inline-link {
      display: inline; }
    .outer-container .quote-body .customer-button {
      height: 2em;
      width: auto;
      display: inline-block;
      margin-left: .5em;
      transition: box-shadow .2s ease-in-out;
      vertical-align: middle; }

.quote-body nav {
  align-items: center;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 0;
  width: 95%; }
  .quote-body nav div {
    border-right: 1px solid #bdbdbd;
    box-sizing: border-box;
    text-align: center;
    transition: background .25s ease-in-out; }
    .quote-body nav div:hover {
      background: #fff3e0; }
  .quote-body nav a:link,
  .quote-body nav a:active,
  .quote-body nav a:visited {
    border-bottom: 1px solid transparent;
    color: #616161;
    display: block;
    height: 4em;
    line-height: 4em;
    padding: 0 3rem;
    text-decoration: none; }
.quote-body section {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  display: flex;
  margin-top: -1px;
  padding: 1rem;
  width: 100%; }
  .quote-body section:first-of-type {
    box-shadow: 0 -1.5px 5px 0 rgba(0, 0, 0, 0.2); }
  .quote-body section:last-of-type {
    box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.2); }

.row-container {
  display: flex;
  flex-direction: row;
  font-size: 85%;
  margin: 0 2%; }
  .row-container a:link,
  .row-container a:visited,
  .row-container a:active {
    color: #ff5722;
    display: block;
    text-decoration: none; }
  .row-container a:hover {
    text-decoration: underline; }
  .row-container div {
    line-height: 2.4;
    padding: 1rem;
    white-space: nowrap; }
  .row-container div:nth-of-type(1) {
    flex-grow: 1;
    text-align: right; }
    .row-container div:nth-of-type(1) p {
      border-right: 1px solid #bdbdbd;
      padding-right: 1rem; }
  .row-container div:nth-of-type(2) {
    flex-grow: 1;
    padding-left: 0;
    text-align: left; }
  .row-container div:nth-of-type(3) {
    flex-grow: 2; }
  .row-container input,
  .row-container textarea,
  .row-container select {
    box-sizing: border-box;
    display: block;
    font-family: "Inconsolata", monospace;
    font-size: 1.1em;
    height: 2em;
    min-width: 25em;
    padding: 0 .25em;
    width: 100%; }
  .row-container textarea {
    margin-top: .25em;
    min-height: 10em; }
  .row-container input:nth-of-type(n+2) {
    margin-top: .2em; }
  .row-container select {
    margin-top: .2em; }
  .row-container .mid {
    min-width: 10em;
    width: 10em; }
  .row-container .small {
    display: inline;
    min-width: 2.75em;
    width: 2.75em; }

.process-container {
  display: flex;
  flex-direction: column;
  font-size: 85%;
  margin: 0 2%; }
  .process-container header {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1em; }
    .process-container header h1 {
      font-size: 120%;
      font-weight: 600; }
    .process-container header .process-inner-container {
      width: 100%; }

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.action-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.action-icon {
  height: 2.5em;
  width: 2.5em;
  background-color: #616161;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border-radius: 100%;
  margin: .25em;
  transition: background .15s ease-in-out, box-shadow .15s ease-in-out; }
  .action-icon:hover {
    background-color: #ff5722;
    box-shadow: 0 2px 3px 1px rgba(66, 66, 66, 0.5); }
  .action-icon:nth-of-type(1) {
    background-image: url("delete.svg"); }
  .action-icon:nth-of-type(2) {
    background-image: url("up.svg");
    background-size: 80% auto; }
  .action-icon:nth-of-type(3) {
    background-image: url("swap.svg"); }

.inline {
  align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: .75em; }
  .inline > div {
    line-height: 3.5em;
    min-height: 3.5em;
    padding: 0 .5em; }
  .inline input,
  .inline textarea,
  .inline select {
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    font-size: 1.1em;
    height: 1.9em;
    margin: .5em 0;
    padding: 0 .25em; }
  .inline textarea {
    height: 5em;
    margin-top: .65em;
    min-height: 8em;
    padding: .25em .5em;
    width: 20em; }
  .inline .long {
    width: 20em; }

@-moz-document url-prefix() {
  .quote-metadata,
  .quote-actions,
  .quote-body {
    box-shadow: 2px 2px 1px 0 rgba(66, 66, 66, 0.3); }

  .quote-body section:first-of-type {
    box-shadow: 0 -4.5px 2px -4px rgba(0, 0, 0, 0.2); }
  .quote-body section:last-of-type {
    box-shadow: 0 4.5px 2px -4px rgba(0, 0, 0, 0.2); } }
.h4-inline {
  color: #bdbdbd;
  display: inline;
  font-size: 70%;
  line-height: 1; }

.p-inline {
  color: #616161;
  display: inline;
  font-size: 130%;
  line-height: 1.2; }

.flex-end {
  align-self: flex-end; }

.clear-border {
  border: 0; }

.min-size {
  height: auto;
  line-height: 1;
  margin: 0;
  min-height: 0;
  padding: 0; }

div .process-subtotal-sum {
  margin-right: 1em;
  padding-top: .6em; }
div .min-size {
  height: auto;
  line-height: 1;
  margin: 0;
  min-height: 0;
  padding: 0; }
div .flex-start {
  align-self: flex-start; }
div > div > h4 {
  color: #bdbdbd;
  font-size: 70%;
  line-height: 1;
  margin-top: -.5em; }

.pricing {
  display: flex;
  flex-direction: row;
  width: 90%; }
  .pricing div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .pricing div div {
      border-bottom: 1px solid #bdbdbd;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 90%; }
      .pricing div div div {
        border: 0;
        display: flex;
        font-size: 90%;
        line-height: 1.75;
        width: 50%; }
        .pricing div div div:nth-of-type(1) {
          border-right: 1px solid #bdbdbd;
          justify-content: flex-end;
          padding-right: .5em; }
        .pricing div div div:nth-of-type(2) {
          font-weight: 600;
          justify-content: flex-start;
          padding-left: .5em; }
  .pricing h1 {
    font-size: 100%;
    font-weight: 600;
    line-height: 1.5; }

section footer {
  box-sizing: border-box;
  display: flex;
  margin-top: .75em;
  padding: .25em 1em;
  width: 100%; }
  section footer div {
    box-sizing: border-box;
    display: flex;
    width: 50%; }
    section footer div:nth-of-type(1) {
      justify-content: flex-start; }
      section footer div:nth-of-type(1) div:nth-of-type(1) {
        background-color: #bdbdbd;
        background-image: url("add.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 70% auto;
        border-radius: 100%;
        height: 1.7em;
        transition: background .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 1.7em; }
        section footer div:nth-of-type(1) div:nth-of-type(1):hover {
          background-color: #ff5722;
          box-shadow: 2px 2px 5px 0 rgba(66, 66, 66, 0.5); }
    section footer div:nth-of-type(2) {
      align-items: flex-end;
      justify-content: flex-end; }
  section footer h4 {
    color: #616161;
    font-size: 70%;
    line-height: 1;
    margin-right: 1em; }
  section footer p {
    font-size: 150%;
    line-height: 1; }

.actions {
  align-items: center;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 0;
  width: 95%; }
  .actions div {
    border-right: 1px solid #bdbdbd;
    box-sizing: border-box;
    text-align: center;
    transition: background .25s ease-in-out;
    width: 50%; }
    .actions div:hover {
      background: #fff3e0; }
  .actions a:link,
  .actions a:active,
  .actions a:visited {
    border-bottom: 1px solid transparent;
    color: #616161;
    display: block;
    height: 4em;
    line-height: 4em;
    padding: 0 3rem;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
