// scss-lint:disable NestingDepth

$base-font: 'Raleway', sans-serif;
$font-mono: 'Inconsolata', monospace;

$m-std: 1rem;
$p-std: 1rem;

// color stack
$alert: #fff59d;
$grey-light: #e0e0e0;
$grey-mid: #bdbdbd;
$grey-dark: #616161;
$orange-dark: #ff5722;
$orange-light: #fff3e0;

// material level
$level1:      2px 2px 5px 0 rgba(66, 66, 66, .5);
$level1-moz:  2px 2px 1px 0 rgba(66, 66, 66, .3);

$level2:      0 2px 3px 1px rgba(66, 66, 66, .5);

@import '../css/reset';
@import 'css/mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  font-size: 100%;
}

.outer-container {
  @include hw(auto, 100%);
  @include flex(center, column, center);
  padding: .5vw 1vw;

  // stuff that applies to all the card containers

  .quote-metadata,
  .quote-actions,
  .quote-body {
    @include hw(auto, 100%);
    border: 1px solid $grey-mid;
    box-shadow: $level1;
    padding: $p-std;

    select,
    button {
      @include hw(2em, auto);
      box-sizing: border-box;
      font-family: $base-font; // doesn't inherit, how wonderful
      font-size: 90%;
    }
  }

  // stuff that applies to block 1 (metadata about the quote over time)

  .quote-metadata {
    @include flex(center, row, space-between);

    h1 {
      font-size: 200%;
      font-weight: 700;
    }
  }

  // stuff that applies to block 2 (actions pertaining to the current revision only)

  .quote-actions {
    @include flex(center, row, space-between);
    margin-top: $m-std / 2;

    span {
      background-color: $alert;
    }

    h1 {
      font-size: 150%;
    }
  }

  // stuff that defines the current quote revision (pricing, etc)

  .quote-body {
    @include flex(center, column, stretch);
    margin-top: $m-std / 2;

    h1 {
      font-size: 110%;
      font-weight: 400;
    }

    .inline-link {
      display: inline;
    }

    .customer-button {
      @include hw(2em, auto);
      display: inline-block;
      margin-left: .5em;
      transition: box-shadow .2s ease-in-out;
      vertical-align: middle;
    }
  }
}

.quote-body {

  nav {
    align-items: center;
    border: 1px solid $grey-mid;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 0;
    width: 95%;

    div { // Nav boxes
      border-right: 1px solid $grey-mid;
      box-sizing: border-box;
      text-align: center;
      transition: background .25s ease-in-out;

      &:hover { // background color
        background: $orange-light;
      }
    }

    a:link,
    a:active,
    a:visited {
      border-bottom: 1px solid transparent;
      color: $grey-dark;
      display: block;
      height: 4em;
      line-height: 4em;
      padding: 0 $m-std*3;
      text-decoration: none;
    }
  }

  section {
    border: 1px solid $grey-mid;
    box-sizing: border-box;
    display: flex;
    margin-top: -1px;
    padding: $p-std;
    width: 100%;

    &:first-of-type {
      box-shadow: 0 -1.5px 5px 0 rgba(0, 0, 0, .2);
    }

    &:last-of-type {
      box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, .2);
    }
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  font-size: 85%;
  margin: 0 2%;

  a:link,
  a:visited,
  a:active {
    color: $orange-dark;
    display: block;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  div {
    line-height: 2.4;
    padding: $p-std;
    white-space: nowrap;
  }

  div:nth-of-type(1) {
    flex-grow: 1;
    text-align: right;

    p {
      border-right: 1px solid $grey-mid;
      padding-right: 1rem;
    }
  }

  div:nth-of-type(2) {
    flex-grow: 1;
    padding-left: 0;
    text-align: left;
  }

  div:nth-of-type(3) {
    flex-grow: 2;
  }

  input,
  textarea,
  select {
    box-sizing: border-box;
    display: block;
    font-family: $font-mono;
    font-size: 1.1em;
    height: 2em;
    min-width: 25em;
    padding: 0 .25em;
    width: 100%;
  }

  textarea {
    margin-top: .25em;
    min-height: 10em;
  }

  input {
    &:nth-of-type(n+2) {
      margin-top: .2em;
    }
  }

  select {
    margin-top: .2em;
  }

  .mid {
    min-width: 10em;
    width: 10em;
  }

  .small {
    display: inline;
    min-width: 2.75em;
    width: 2.75em;
  }
}

.process-container {
  display: flex;
  flex-direction: column;
  font-size: 85%;
  margin: 0 2%;

  header {
    border-bottom: 1px solid $grey-light;
    padding-left: 1em;

    h1 {
      font-size: 120%;
      font-weight: 600;
    }

    .process-inner-container {
      width: 100%;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

$icon: 2em; 

.action-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action-icon {
  @include button(2.5em, $grey-dark, $orange-dark);

  &:nth-of-type(1) {
    background-image: url('delete.svg');
  }

  &:nth-of-type(2) {
    background-image: url('up.svg');
    background-size: 80% auto;
  }

  &:nth-of-type(3) {
    background-image: url('swap.svg');
  }
}

.inline {
  align-items: flex-start;
  border-bottom: 1px solid $grey-light;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: .75em;

  > div {
    line-height: 3.5em;
    min-height: 3.5em;
    padding: 0 .5em;
  }

  input,
  textarea,
  select {
    box-sizing: border-box;
    font-family: $font-mono;
    font-size: 1.1em;
    height: 1.9em;
    margin: .5em 0;
    padding: 0 .25em;
  }

  textarea {
    height: 5em;
    margin-top: .65em;
    min-height: 8em;
    padding: .25em .5em;
    width: 20em;
  }

  .long {
    width: 20em;
  }
}

@-moz-document url-prefix() {
  .quote-metadata,
  .quote-actions,
  .quote-body {
    box-shadow: $level1-moz;
  }

  .quote-body {
    section {
      &:first-of-type {
        box-shadow: 0 -4.5px 2px -4px rgba(0, 0, 0, .2);
      }

      &:last-of-type {
        box-shadow: 0 4.5px 2px -4px rgba(0, 0, 0, .2);
      }
    }
  }
}



.h4-inline {
  color: $grey-mid;
  display: inline;
  font-size: 70%;
  line-height: 1;
}

.p-inline {
  color: $grey-dark;
  display: inline;
  font-size: 130%;
  line-height: 1.2;
}

.flex-end {
  align-self: flex-end;
}

.clear-border {
  border: 0;
}

.min-size {
  height: auto;
  line-height: 1;
  margin: 0;
  min-height: 0;
  padding: 0;


}

div {
  .process-subtotal-sum {
    margin-right: 1em;
    padding-top: .6em;
  }

  .min-size {
    height: auto;
    line-height: 1;
    margin: 0;
    min-height: 0;
    padding: 0;
  }

  .flex-start {
    align-self: flex-start;
  }

  > div {
    > h4 {
      color: $grey-mid;
      font-size: 70%;
      line-height: 1;
      margin-top: -.5em;
    }
  }
}

.pricing {
  display: flex;
  flex-direction: row;
  width: 90%;

  div {
    align-items: center;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
      border-bottom: 1px solid $grey-mid;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 90%;

      div {
        border: 0;
        display: flex;
        font-size: 90%;
        line-height: 1.75;
        width: 50%;

        &:nth-of-type(1) {
          border-right: 1px solid $grey-mid;
          justify-content: flex-end;
          padding-right: .5em;
        }

        &:nth-of-type(2) {
          font-weight: 600;
          justify-content: flex-start;
          padding-left: .5em;
        }
      }
    }
  }

  h1 {
    font-size: 100%;
    font-weight: 600;
    line-height: 1.5;
  }
}

section {
  footer {
    box-sizing: border-box;
    display: flex;
    margin-top: .75em;
    padding: .25em 1em;
    width: 100%;

    div {
      box-sizing: border-box;
      display: flex;
      width: 50%;

      &:nth-of-type(1) {
        justify-content: flex-start;

        div:nth-of-type(1) {
          background-color: $grey-mid;
          background-image: url('add.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 70% auto;
          border-radius: 100%;
          height: $icon * .85;
          transition: background .15s ease-in-out, box-shadow .15s ease-in-out;
          width: $icon * .85;

          &:hover {
            background-color: $orange-dark;
            box-shadow: $level1;
          }
        }
      }

      &:nth-of-type(2) {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    h4 {
      color: $grey-dark;
      font-size: 70%;
      line-height: 1;
      margin-right: 1em;
    }

    p {
      font-size: 150%;
      line-height: 1;
    }
  }
}

.actions {
  align-items: center;
  border: 1px solid $grey-mid;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 0;
  width: 95%;

  div { // Nav boxes
    border-right: 1px solid $grey-mid;
    box-sizing: border-box;
    text-align: center;
    transition: background .25s ease-in-out;
    width: 50%;

    &:hover { // background color
      background: $orange-light;
    }
  }

  a:link,
  a:active,
  a:visited {
    border-bottom: 1px solid transparent;
    color: $grey-dark;
    display: block;
    height: 4em;
    line-height: 4em;
    padding: 0 $m-std*3;
    text-decoration: none;
  }
}
